<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjy.dao.product.IPcBrandinfoDao">
	
	<resultMap id="BaseResultMap" type="com.hjy.entity.product.PcBrandinfo">
		<id column="zid" property="zid" jdbcType="INTEGER" />
		<result column="uid" property="uid" jdbcType="CHAR" />
		<result column="brand_code" property="brandCode" jdbcType="VARCHAR" />
		<result column="brand_name" property="brandName" jdbcType="VARCHAR" />
		<result column="brand_name_en" property="brandNameEn" jdbcType="VARCHAR" />
		<result column="flag_enable" property="flagEnable" jdbcType="INTEGER" />
		<result column="brand_pic" property="brandPic" jdbcType="VARCHAR" />
		<result column="brand_note" property="brandNote" jdbcType="VARCHAR" />
		<result column="parent_code" property="parentCode" jdbcType="VARCHAR" />
		<result column="cpsrate" property="cpsrate" jdbcType="DECIMAL" />
		<result column="create_usernm" property="createUsernm" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="create_usercode" property="createUsercode" jdbcType="VARCHAR" />
	</resultMap>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from productcenter.pc_brandinfo where zid = #{zid,jdbcType=INTEGER}
	</delete>
	
	<insert id="insertSelective" parameterType="com.hjy.entity.product.PcBrandinfo">
		insert into productcenter.pc_brandinfo
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="zid != null">
				zid,
			</if>
			<if test="uid != null">
				uid,
			</if>
			<if test="brandCode != null">
				brand_code,
			</if>
			<if test="brandName != null">
				brand_name,
			</if>
			<if test="brandNameEn != null">
				brand_name_en,
			</if>
			<if test="flagEnable != null">
				flag_enable,
			</if>
			<if test="brandPic != null">
				brand_pic,
			</if>
			<if test="brandNote != null">
				brand_note,
			</if>
			<if test="parentCode != null">
				parent_code,
			</if>
			<if test="cpsrate != null">
				cpsrate,
			</if>
			<if test="createUsernm != null">
				create_usernm,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="createUsercode != null">
				create_usercode,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="zid != null">
				#{zid,jdbcType=INTEGER},
			</if>
			<if test="uid != null">
				#{uid,jdbcType=CHAR},
			</if>
			<if test="brandCode != null">
				#{brandCode,jdbcType=VARCHAR},
			</if>
			<if test="brandName != null">
				#{brandName,jdbcType=VARCHAR},
			</if>
			<if test="brandNameEn != null">
				#{brandNameEn,jdbcType=VARCHAR},
			</if>
			<if test="flagEnable != null">
				#{flagEnable,jdbcType=INTEGER},
			</if>
			<if test="brandPic != null">
				#{brandPic,jdbcType=VARCHAR},
			</if>
			<if test="brandNote != null">
				#{brandNote,jdbcType=VARCHAR},
			</if>
			<if test="parentCode != null">
				#{parentCode,jdbcType=VARCHAR},
			</if>
			<if test="cpsrate != null">
				#{cpsrate,jdbcType=DECIMAL},
			</if>
			<if test="createUsernm != null">
				#{createUsernm,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=VARCHAR},
			</if>
			<if test="createUsercode != null">
				#{createUsercode,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.hjy.entity.product.PcBrandinfo">
		update productcenter.pc_brandinfo
		<set>
			<if test="uid != null">
				uid = #{uid,jdbcType=CHAR},
			</if>
			<if test="brandCode != null">
				brand_code = #{brandCode,jdbcType=VARCHAR},
			</if>
			<if test="brandName != null">
				brand_name = #{brandName,jdbcType=VARCHAR},
			</if>
			<if test="brandNameEn != null">
				brand_name_en = #{brandNameEn,jdbcType=VARCHAR},
			</if>
			<if test="flagEnable != null">
				flag_enable = #{flagEnable,jdbcType=INTEGER},
			</if>
			<if test="brandPic != null">
				brand_pic = #{brandPic,jdbcType=VARCHAR},
			</if>
			<if test="brandNote != null">
				brand_note = #{brandNote,jdbcType=VARCHAR},
			</if>
			<if test="parentCode != null">
				parent_code = #{parentCode,jdbcType=VARCHAR},
			</if>
			<if test="cpsrate != null">
				cpsrate = #{cpsrate,jdbcType=DECIMAL},
			</if>
			<if test="createUsernm != null">
				create_usernm = #{createUsernm,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=VARCHAR},
			</if>
			<if test="createUsercode != null">
				create_usercode = #{createUsercode,jdbcType=VARCHAR},
			</if>
		</set>
		where zid = #{zid,jdbcType=INTEGER}
	</update>
	
	<select id="findByType" resultMap="BaseResultMap" parameterType="com.hjy.entity.product.PcBrandinfo">
		select
					* from productcenter.pc_brandinfo
		where 1=1 
		<if test="brandCode != null and brandCode !='' ">
			and brand_code = #{brandCode , jdbcType=VARCHAR}
		</if>
	</select>
</mapper>




















