<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjy.dao.product.IPcCategoryinfoDao">
	<resultMap id="BaseResultMap" type="com.hjy.entity.product.PcCategoryinfo">
		<id column="zid" property="zid" jdbcType="INTEGER" />
		<result column="uid" property="uid" jdbcType="CHAR" />
		<result column="category_code" property="categoryCode"
			jdbcType="VARCHAR" />
		<result column="category_name" property="categoryName"
			jdbcType="VARCHAR" />
		<result column="parent_code" property="parentCode" jdbcType="VARCHAR" />
		<result column="sort" property="sort" jdbcType="VARCHAR" />
		<result column="cpsrate" property="cpsrate" jdbcType="DECIMAL" />
		<result column="integralrate" property="integralrate" jdbcType="DECIMAL" />
		<result column="older_code" property="olderCode" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		zid, uid, category_code, category_name, parent_code, sort, cpsrate,
		integralrate,
		older_code
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from productcenter.pc_categoryinfo
		where zid = #{zid,jdbcType=INTEGER}
	</select>
	<insert id="insertSelective" parameterType="com.hjy.entity.product.PcCategoryinfo">
		insert into productcenter.pc_categoryinfo
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="zid != null">
				zid,
			</if>
			<if test="uid != null">
				uid,
			</if>
			<if test="categoryCode != null">
				category_code,
			</if>
			<if test="categoryName != null">
				category_name,
			</if>
			<if test="parentCode != null">
				parent_code,
			</if>
			<if test="sort != null">
				sort,
			</if>
			<if test="cpsrate != null">
				cpsrate,
			</if>
			<if test="integralrate != null">
				integralrate,
			</if>
			<if test="olderCode != null">
				older_code,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="zid != null">
				#{zid,jdbcType=INTEGER},
			</if>
			<if test="uid != null">
				#{uid,jdbcType=CHAR},
			</if>
			<if test="categoryCode != null">
				#{categoryCode,jdbcType=VARCHAR},
			</if>
			<if test="categoryName != null">
				#{categoryName,jdbcType=VARCHAR},
			</if>
			<if test="parentCode != null">
				#{parentCode,jdbcType=VARCHAR},
			</if>
			<if test="sort != null">
				#{sort,jdbcType=VARCHAR},
			</if>
			<if test="cpsrate != null">
				#{cpsrate,jdbcType=DECIMAL},
			</if>
			<if test="integralrate != null">
				#{integralrate,jdbcType=DECIMAL},
			</if>
			<if test="olderCode != null">
				#{olderCode,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateSelective" parameterType="com.hjy.entity.product.PcCategoryinfo">
		update productcenter.pc_categoryinfo
		<set>
			<if test="uid != null">
				uid = #{uid,jdbcType=CHAR},
			</if>
			<if test="categoryCode != null">
				category_code = #{categoryCode,jdbcType=VARCHAR},
			</if>
			<if test="categoryName != null">
				category_name = #{categoryName,jdbcType=VARCHAR},
			</if>
			<if test="parentCode != null">
				parent_code = #{parentCode,jdbcType=VARCHAR},
			</if>
			<if test="sort != null">
				sort = #{sort,jdbcType=VARCHAR},
			</if>
			<if test="cpsrate != null">
				cpsrate = #{cpsrate,jdbcType=DECIMAL},
			</if>
			<if test="integralrate != null">
				integralrate = #{integralrate,jdbcType=DECIMAL},
			</if>
			<if test="olderCode != null">
				older_code = #{olderCode,jdbcType=VARCHAR},
			</if>
		</set>
		where zid = #{zid,jdbcType=INTEGER}
	</update>
	<select id="getPcCategoryinfoByCode"  parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from productcenter.pc_categoryinfo
			<where>
				category_code = #{code,jdbcType=VARCHAR}
			</where> 
	</select>
</mapper>