<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjy.dao.product.IPcProductpropertyDao">

	<resultMap id="BaseResultMap" type="com.hjy.entity.product.PcProductproperty">
		<id column="zid" jdbcType="INTEGER" property="zid" />
		<result column="uid" jdbcType="CHAR" property="uid" />
		<result column="product_code" jdbcType="VARCHAR" property="productCode" />
		<result column="property_keycode" jdbcType="VARCHAR" property="propertyKeycode" />
		<result column="property_code" jdbcType="VARCHAR" property="propertyCode" />
		<result column="property_key" jdbcType="VARCHAR" property="propertyKey" />
		<result column="property_value" jdbcType="VARCHAR" property="propertyValue" />
		<result column="property_type" jdbcType="VARCHAR" property="propertyType" />
		<result column="big_sort" jdbcType="INTEGER" property="bigSort" />
		<result column="small_sort" jdbcType="INTEGER" property="smallSort" />
	</resultMap>

	<insert id="insertSelective" parameterType="com.hjy.entity.product.PcProductproperty">
		insert into pc_productproperty
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="zid != null">
				zid,
			</if>
			<if test="uid != null">
				uid,
			</if>
			<if test="productCode != null">
				product_code,
			</if>
			<if test="propertyKeycode != null">
				property_keycode,
			</if>
			<if test="propertyCode != null">
				property_code,
			</if>
			<if test="propertyKey != null">
				property_key,
			</if>
			<if test="propertyValue != null">
				property_value,
			</if>
			<if test="propertyType != null">
				property_type,
			</if>
			<if test="bigSort != null">
				big_sort,
			</if>
			<if test="smallSort != null">
				small_sort,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="zid != null">
				#{zid,jdbcType=INTEGER},
			</if>
			<if test="uid != null">
				#{uid,jdbcType=CHAR},
			</if>
			<if test="productCode != null">
				#{productCode,jdbcType=VARCHAR},
			</if>
			<if test="propertyKeycode != null">
				#{propertyKeycode,jdbcType=VARCHAR},
			</if>
			<if test="propertyCode != null">
				#{propertyCode,jdbcType=VARCHAR},
			</if>
			<if test="propertyKey != null">
				#{propertyKey,jdbcType=VARCHAR},
			</if>
			<if test="propertyValue != null">
				#{propertyValue,jdbcType=VARCHAR},
			</if>
			<if test="propertyType != null">
				#{propertyType,jdbcType=VARCHAR},
			</if>
			<if test="bigSort != null">
				#{bigSort,jdbcType=INTEGER},
			</if>
			<if test="smallSort != null">
				#{smallSort,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>

	<!-- 原来的 order by : property_type,small_sort desc,zid asc - Yangcl -->
	<select id="findListByProductCode" resultMap="BaseResultMap"
		parameterType="com.hjy.entity.product.PcProductproperty">
		select
		* from productcenter.pc_productproperty
		where 1=1
		and
		product_code = #{productCode , jdbcType=VARCHAR}
		order by
		small_sort
		desc , zid asc
	</select>

	<delete id="deleteByParam" parameterType="com.hjy.entity.product.PcProductproperty">
		delete
		from productcenter.pc_productproperty
		where
		product_code =
		#{productCode , jdbcType=VARCHAR}
		and
		property_type in
		<foreach item="item" index="index" collection="propertyTypeList"
			open="(" close=")" separator=",">
			#{item}
		</foreach>
	</delete>
</mapper>


































