<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjy.dao.product.IPcSkuinfoDao">

	<resultMap id="BaseResultMap" type="com.hjy.entity.product.PcSkuinfo">
		<id column="zid" jdbcType="INTEGER" property="zid" />
		<result column="uid" jdbcType="CHAR" property="uid" />
		<result column="sku_code_old" jdbcType="VARCHAR" property="skuCodeOld" />
		<result column="sku_code" jdbcType="VARCHAR" property="skuCode" />
		<result column="product_code" jdbcType="VARCHAR" property="productCode" />
		<result column="sell_price" jdbcType="DECIMAL" property="sellPrice" />
		<result column="market_price" jdbcType="DECIMAL" property="marketPrice" />
		<result column="cost_price" jdbcType="DECIMAL" property="costPrice" />
		<result column="stock_num" jdbcType="DECIMAL" property="stockNum" />
		<result column="sku_key" jdbcType="VARCHAR" property="skuKey" />
		<result column="sku_keyvalue" jdbcType="VARCHAR" property="skuKeyvalue" />
		<result column="sku_picurl" jdbcType="VARCHAR" property="skuPicurl" />
		<result column="sell_productcode" jdbcType="VARCHAR" property="sellProductcode" />
		<result column="seller_code" jdbcType="VARCHAR" property="sellerCode" />
		<result column="security_stock_num" jdbcType="DECIMAL"
			property="securityStockNum" />
		<result column="product_code_old" jdbcType="VARCHAR" property="productCodeOld" />
		<result column="qrcode_link" jdbcType="VARCHAR" property="qrcodeLink" />
		<result column="sell_count" jdbcType="INTEGER" property="sellCount" />
		<result column="sale_yn" jdbcType="VARCHAR" property="saleYn" />
		<result column="flag_enable" jdbcType="INTEGER" property="flagEnable" />
		<result column="barcode" jdbcType="VARCHAR" property="barcode" />
		<result column="mini_order" jdbcType="INTEGER" property="miniOrder" />
		<result column="sku_name" jdbcType="LONGVARCHAR" property="skuName" />
		<result column="sku_adv" jdbcType="LONGVARCHAR" property="skuAdv" />
	</resultMap>
	<insert id="insertSelective" parameterType="com.hjy.entity.product.PcSkuinfo">
		insert into productcenter.pc_skuinfo
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="zid != null">
				zid,
			</if>
			<if test="uid != null">
				uid,
			</if>
			<if test="skuCodeOld != null">
				sku_code_old,
			</if>
			<if test="skuCode != null">
				sku_code,
			</if>
			<if test="productCode != null">
				product_code,
			</if>
			<if test="sellPrice != null">
				sell_price,
			</if>
			<if test="marketPrice != null">
				market_price,
			</if>
			<if test="costPrice != null">
				cost_price,
			</if>
			<if test="stockNum != null">
				stock_num,
			</if>
			<if test="skuKey != null">
				sku_key,
			</if>
			<if test="skuKeyvalue != null">
				sku_keyvalue,
			</if>
			<if test="skuPicurl != null">
				sku_picurl,
			</if>
			<if test="sellProductcode != null">
				sell_productcode,
			</if>
			<if test="sellerCode != null">
				seller_code,
			</if>
			<if test="securityStockNum != null">
				security_stock_num,
			</if>
			<if test="productCodeOld != null">
				product_code_old,
			</if>
			<if test="qrcodeLink != null">
				qrcode_link,
			</if>
			<if test="sellCount != null">
				sell_count,
			</if>
			<if test="saleYn != null">
				sale_yn,
			</if>
			<if test="flagEnable != null">
				flag_enable,
			</if>
			<if test="barcode != null">
				barcode,
			</if>
			<if test="miniOrder != null">
				mini_order,
			</if>
			<if test="skuName != null">
				sku_name,
			</if>
			<if test="skuAdv != null">
				sku_adv,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="zid != null">
				#{zid,jdbcType=INTEGER},
			</if>
			<if test="uid != null">
				#{uid,jdbcType=CHAR},
			</if>
			<if test="skuCodeOld != null">
				#{skuCodeOld,jdbcType=VARCHAR},
			</if>
			<if test="skuCode != null">
				#{skuCode,jdbcType=VARCHAR},
			</if>
			<if test="productCode != null">
				#{productCode,jdbcType=VARCHAR},
			</if>
			<if test="sellPrice != null">
				#{sellPrice,jdbcType=DECIMAL},
			</if>
			<if test="marketPrice != null">
				#{marketPrice,jdbcType=DECIMAL},
			</if>
			<if test="costPrice != null">
				#{costPrice,jdbcType=DECIMAL},
			</if>
			<if test="stockNum != null">
				#{stockNum,jdbcType=DECIMAL},
			</if>
			<if test="skuKey != null">
				#{skuKey,jdbcType=VARCHAR},
			</if>
			<if test="skuKeyvalue != null">
				#{skuKeyvalue,jdbcType=VARCHAR},
			</if>
			<if test="skuPicurl != null">
				#{skuPicurl,jdbcType=VARCHAR},
			</if>
			<if test="sellProductcode != null">
				#{sellProductcode,jdbcType=VARCHAR},
			</if>
			<if test="sellerCode != null">
				#{sellerCode,jdbcType=VARCHAR},
			</if>
			<if test="securityStockNum != null">
				#{securityStockNum,jdbcType=DECIMAL},
			</if>
			<if test="productCodeOld != null">
				#{productCodeOld,jdbcType=VARCHAR},
			</if>
			<if test="qrcodeLink != null">
				#{qrcodeLink,jdbcType=VARCHAR},
			</if>
			<if test="sellCount != null">
				#{sellCount,jdbcType=INTEGER},
			</if>
			<if test="saleYn != null">
				#{saleYn,jdbcType=VARCHAR},
			</if>
			<if test="flagEnable != null">
				#{flagEnable,jdbcType=INTEGER},
			</if>
			<if test="barcode != null">
				#{barcode,jdbcType=VARCHAR},
			</if>
			<if test="miniOrder != null">
				#{miniOrder,jdbcType=INTEGER},
			</if>
			<if test="skuName != null">
				#{skuName,jdbcType=LONGVARCHAR},
			</if>
			<if test="skuAdv != null">
				#{skuAdv,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	<select id="findSkuCodeByProductCode" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT
			sku_code
		FROM
			productcenter.pc_skuinfo
		<where>
			product_code = #{productCode,jdbcType=VARCHAR}
		</where>
	</select>

	<!-- 可以扩展if中的查询条件 - Yangcl -->
	<select id="findList" resultMap="BaseResultMap" parameterType="com.hjy.entity.product.PcSkuinfo">
		select
			*
		from
			productcenter.pc_skuinfo
		where 1=1
		<if test="productCode != null ">
			and product_code = #{productCode , jdbcType=VARCHAR}
		</if>
	</select>

	<update id="updateSelectiveByProductCode" parameterType="com.hjy.entity.product.PcSkuinfo">
		update productcenter.pc_skuinfo
		<set>
			<if test="uid != null">
				uid = #{uid,jdbcType=CHAR},
			</if>
			<if test="skuCodeOld != null">
				sku_code_old = #{skuCodeOld,jdbcType=VARCHAR},
			</if>
			<if test="skuCode != null">
				sku_code = #{skuCode,jdbcType=VARCHAR},
			</if>
			<if test="productCode != null">
				product_code = #{productCode,jdbcType=VARCHAR},
			</if>
			<if test="sellPrice != null">
				sell_price = #{sellPrice,jdbcType=DECIMAL},
			</if>
			<if test="marketPrice != null">
				market_price = #{marketPrice,jdbcType=DECIMAL},
			</if>
			<if test="costPrice != null">
				cost_price = #{costPrice,jdbcType=DECIMAL},
			</if>
			<if test="stockNum != null">
				stock_num = #{stockNum,jdbcType=DECIMAL},
			</if>
			<if test="skuKey != null">
				sku_key = #{skuKey,jdbcType=VARCHAR},
			</if>
			<if test="skuKeyvalue != null">
				sku_keyvalue = #{skuKeyvalue,jdbcType=VARCHAR},
			</if>
			<if test="skuPicurl != null">
				sku_picurl = #{skuPicurl,jdbcType=VARCHAR},
			</if>
			<if test="sellProductcode != null">
				sell_productcode = #{sellProductcode,jdbcType=VARCHAR},
			</if>
			<if test="sellerCode != null">
				seller_code = #{sellerCode,jdbcType=VARCHAR},
			</if>
			<if test="securityStockNum != null">
				security_stock_num =
				#{securityStockNum,jdbcType=DECIMAL},
			</if>
			<if test="productCodeOld != null">
				product_code_old = #{productCodeOld,jdbcType=VARCHAR},
			</if>
			<if test="qrcodeLink != null">
				qrcode_link = #{qrcodeLink,jdbcType=VARCHAR},
			</if>
			<if test="sellCount != null">
				sell_count = #{sellCount,jdbcType=INTEGER},
			</if>
			<if test="saleYn != null">
				sale_yn = #{saleYn,jdbcType=VARCHAR},
			</if>
			<if test="flagEnable != null">
				flag_enable = #{flagEnable,jdbcType=INTEGER},
			</if>
			<if test="barcode != null">
				barcode = #{barcode,jdbcType=VARCHAR},
			</if>
			<if test="miniOrder != null">
				mini_order = #{miniOrder,jdbcType=INTEGER},
			</if>
			<if test="skuName != null">
				sku_name = #{skuName,jdbcType=LONGVARCHAR},
			</if>
			<if test="skuAdv != null">
				sku_adv = #{skuAdv,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where product_code = #{productCode,jdbcType=VARCHAR}
	</update>

	<update id="updateSelectiveBySkuCode" parameterType="com.hjy.entity.product.PcSkuinfo">
		update productcenter.pc_skuinfo
		<set>
			<if test="uid != null">
				uid = #{uid,jdbcType=CHAR},
			</if>
			<if test="skuCodeOld != null">
				sku_code_old = #{skuCodeOld,jdbcType=VARCHAR},
			</if>
			<if test="skuCode != null">
				sku_code = #{skuCode,jdbcType=VARCHAR},
			</if>
			<if test="productCode != null">
				product_code = #{productCode,jdbcType=VARCHAR},
			</if>
			<if test="sellPrice != null">
				sell_price = #{sellPrice,jdbcType=DECIMAL},
			</if>
			<if test="marketPrice != null">
				market_price = #{marketPrice,jdbcType=DECIMAL},
			</if>
			<if test="costPrice != null">
				cost_price = #{costPrice,jdbcType=DECIMAL},
			</if>
			<if test="stockNum != null">
				stock_num = #{stockNum,jdbcType=DECIMAL},
			</if>
			<if test="skuKey != null">
				sku_key = #{skuKey,jdbcType=VARCHAR},
			</if>
			<if test="skuKeyvalue != null">
				sku_keyvalue = #{skuKeyvalue,jdbcType=VARCHAR},
			</if>
			<if test="skuPicurl != null">
				sku_picurl = #{skuPicurl,jdbcType=VARCHAR},
			</if>
			<if test="sellProductcode != null">
				sell_productcode = #{sellProductcode,jdbcType=VARCHAR},
			</if>
			<if test="sellerCode != null">
				seller_code = #{sellerCode,jdbcType=VARCHAR},
			</if>
			<if test="securityStockNum != null">
				security_stock_num =
				#{securityStockNum,jdbcType=DECIMAL},
			</if>
			<if test="productCodeOld != null">
				product_code_old = #{productCodeOld,jdbcType=VARCHAR},
			</if>
			<if test="qrcodeLink != null">
				qrcode_link = #{qrcodeLink,jdbcType=VARCHAR},
			</if>
			<if test="sellCount != null">
				sell_count = #{sellCount,jdbcType=INTEGER},
			</if>
			<if test="saleYn != null">
				sale_yn = #{saleYn,jdbcType=VARCHAR},
			</if>
			<if test="flagEnable != null">
				flag_enable = #{flagEnable,jdbcType=INTEGER},
			</if>
			<if test="barcode != null">
				barcode = #{barcode,jdbcType=VARCHAR},
			</if>
			<if test="miniOrder != null">
				mini_order = #{miniOrder,jdbcType=INTEGER},
			</if>
			<if test="skuName != null">
				sku_name = #{skuName,jdbcType=LONGVARCHAR},
			</if>
			<if test="skuAdv != null">
				sku_adv = #{skuAdv,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where sku_code = #{skuCode,jdbcType=VARCHAR}
	</update>
	
	<!-- 
		根据product_code 找出该商品下所有的Sku信息，
		以skuKey+"@"+skuValue 作为map的key，sku_code 作为value.
		map中的key是区分一个product_code下的唯一依据  - Yangcl  
	 --> 
	<select id="getSkuinfoByPcode" parameterType="java.lang.String"  resultMap="BaseResultMap">  
		select
			concat(sku_key,'@',sku_keyvalue) as skuKey,
			sku_code as skuCode
		from
			productcenter.pc_skuinfo 
		where
			product_code = #{productCode,jdbcType=VARCHAR}
	</select>
	
	<!-- 根据这三个条件删除一条记录|这个方法用于open-api的ApiProductServiceImpl类 - Yangcl -->
	<delete id="deleteSkuinfo" parameterType="java.util.Map"> 
		delete from 
			productcenter.pc_skuinfo 
		where 
			sku_code = #{scode , jdbcType=VARCHAR} 
		and 
			sku_key = #{skey , jdbcType=VARCHAR} 
		and 
			sku_keyvalue = #{svalue , jdbcType=VARCHAR} 
	</delete>
	
</mapper>













