/target/
/.settings/
/*.project
/web-core/target/
/web-core/.settings/
/web-core/.project
/web-core/.classpath
/web-redis/target/
/web-redis/.settings/
/web-redis/.project
/web-redis/.classpath
/web-sample/target/
/web-sample/.settings/
/web-sample/.project
/web-sample/.classpath
/web-sample-ui/target/
/web-sample-ui/.settings/
/web-sample-ui/.project
/web-sample-ui/.classpath
/web-quartz/target/
/web-quartz/.settings/
/web-quartz/.project
/web-quartz/.classpath
/seller-adapter/target/
/seller-adapter/.settings/
/seller-adapter/.project
/seller-adapter/.classpath
/seller-adapter-kjt/target/
/seller-adapter-kjt/.settings/
/seller-adapter-kjt/.project
/seller-adapter-kjt/.classpath


