<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjy.dao.user.IUcSellerinfoDao">
	<resultMap id="BaseResultMap" type="com.hjy.entity.user.UcSellerinfo">
		<id column="zid" property="zid" jdbcType="INTEGER" />
		<result column="uid" property="uid" jdbcType="CHAR" />
		<result column="seller_code" property="sellerCode" jdbcType="VARCHAR" />
		<result column="small_seller_code" property="smallSellerCode"
			jdbcType="VARCHAR" />
		<result column="seller_name" property="sellerName" jdbcType="VARCHAR" />
		<result column="seller_short_name" property="sellerShortName"
			jdbcType="VARCHAR" />
		<result column="seller_descrption" property="sellerDescrption"
			jdbcType="VARCHAR" />
		<result column="seller_status" property="sellerStatus"
			jdbcType="VARCHAR" />
		<result column="seller_account" property="sellerAccount"
			jdbcType="VARCHAR" />
		<result column="seller_url" property="sellerUrl" jdbcType="VARCHAR" />
		<result column="seller_pic" property="sellerPic" jdbcType="VARCHAR" />
		<result column="seller_area" property="sellerArea" jdbcType="VARCHAR" />
		<result column="seller_telephone" property="sellerTelephone"
			jdbcType="VARCHAR" />
		<result column="seller_return_address" property="sellerReturnAddress"
			jdbcType="VARCHAR" />
		<result column="seller_return_postcode" property="sellerReturnPostcode"
			jdbcType="VARCHAR" />
		<result column="seller_return_contact" property="sellerReturnContact"
			jdbcType="VARCHAR" />
		<result column="seller_return_telephone" property="sellerReturnTelephone"
			jdbcType="VARCHAR" />
		<result column="seller_company_name" property="sellerCompanyName"
			jdbcType="VARCHAR" />
		<result column="second_level_domain" property="secondLevelDomain"
			jdbcType="VARCHAR" />
		<result column="qrcode_link" property="qrcodeLink" jdbcType="VARCHAR" />
		<result column="seller_email" property="sellerEmail" jdbcType="VARCHAR" />
		<result column="seller_type" property="sellerType" jdbcType="VARCHAR" />
		<result column="out_date" property="outDate" jdbcType="VARCHAR" />
		<result column="dataId" property="dataid" jdbcType="VARCHAR" />
		<result column="editId" property="editid" jdbcType="VARCHAR" />
		<result column="flow_status" property="flowStatus" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		zid, uid, seller_code, small_seller_code, seller_name,
		seller_short_name,
		seller_descrption,
		seller_status, seller_account,
		seller_url, seller_pic, seller_area,
		seller_telephone,
		seller_return_address, seller_return_postcode, seller_return_contact,
		seller_return_telephone,
		seller_company_name, second_level_domain,
		qrcode_link, seller_email, seller_type,
		out_date, dataId, editId,
		flow_status
	</sql>
	<insert id="insertSelective" parameterType="com.hjy.entity.user.UcSellerinfo">
		insert into uc_sellerinfo
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="zid != null">
				zid,
			</if>
			<if test="uid != null">
				uid,
			</if>
			<if test="sellerCode != null">
				seller_code,
			</if>
			<if test="smallSellerCode != null">
				small_seller_code,
			</if>
			<if test="sellerName != null">
				seller_name,
			</if>
			<if test="sellerShortName != null">
				seller_short_name,
			</if>
			<if test="sellerDescrption != null">
				seller_descrption,
			</if>
			<if test="sellerStatus != null">
				seller_status,
			</if>
			<if test="sellerAccount != null">
				seller_account,
			</if>
			<if test="sellerUrl != null">
				seller_url,
			</if>
			<if test="sellerPic != null">
				seller_pic,
			</if>
			<if test="sellerArea != null">
				seller_area,
			</if>
			<if test="sellerTelephone != null">
				seller_telephone,
			</if>
			<if test="sellerReturnAddress != null">
				seller_return_address,
			</if>
			<if test="sellerReturnPostcode != null">
				seller_return_postcode,
			</if>
			<if test="sellerReturnContact != null">
				seller_return_contact,
			</if>
			<if test="sellerReturnTelephone != null">
				seller_return_telephone,
			</if>
			<if test="sellerCompanyName != null">
				seller_company_name,
			</if>
			<if test="secondLevelDomain != null">
				second_level_domain,
			</if>
			<if test="qrcodeLink != null">
				qrcode_link,
			</if>
			<if test="sellerEmail != null">
				seller_email,
			</if>
			<if test="sellerType != null">
				seller_type,
			</if>
			<if test="outDate != null">
				out_date,
			</if>
			<if test="dataid != null">
				dataId,
			</if>
			<if test="editid != null">
				editId,
			</if>
			<if test="flowStatus != null">
				flow_status,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="zid != null">
				#{zid,jdbcType=INTEGER},
			</if>
			<if test="uid != null">
				#{uid,jdbcType=CHAR},
			</if>
			<if test="sellerCode != null">
				#{sellerCode,jdbcType=VARCHAR},
			</if>
			<if test="smallSellerCode != null">
				#{smallSellerCode,jdbcType=VARCHAR},
			</if>
			<if test="sellerName != null">
				#{sellerName,jdbcType=VARCHAR},
			</if>
			<if test="sellerShortName != null">
				#{sellerShortName,jdbcType=VARCHAR},
			</if>
			<if test="sellerDescrption != null">
				#{sellerDescrption,jdbcType=VARCHAR},
			</if>
			<if test="sellerStatus != null">
				#{sellerStatus,jdbcType=VARCHAR},
			</if>
			<if test="sellerAccount != null">
				#{sellerAccount,jdbcType=VARCHAR},
			</if>
			<if test="sellerUrl != null">
				#{sellerUrl,jdbcType=VARCHAR},
			</if>
			<if test="sellerPic != null">
				#{sellerPic,jdbcType=VARCHAR},
			</if>
			<if test="sellerArea != null">
				#{sellerArea,jdbcType=VARCHAR},
			</if>
			<if test="sellerTelephone != null">
				#{sellerTelephone,jdbcType=VARCHAR},
			</if>
			<if test="sellerReturnAddress != null">
				#{sellerReturnAddress,jdbcType=VARCHAR},
			</if>
			<if test="sellerReturnPostcode != null">
				#{sellerReturnPostcode,jdbcType=VARCHAR},
			</if>
			<if test="sellerReturnContact != null">
				#{sellerReturnContact,jdbcType=VARCHAR},
			</if>
			<if test="sellerReturnTelephone != null">
				#{sellerReturnTelephone,jdbcType=VARCHAR},
			</if>
			<if test="sellerCompanyName != null">
				#{sellerCompanyName,jdbcType=VARCHAR},
			</if>
			<if test="secondLevelDomain != null">
				#{secondLevelDomain,jdbcType=VARCHAR},
			</if>
			<if test="qrcodeLink != null">
				#{qrcodeLink,jdbcType=VARCHAR},
			</if>
			<if test="sellerEmail != null">
				#{sellerEmail,jdbcType=VARCHAR},
			</if>
			<if test="sellerType != null">
				#{sellerType,jdbcType=VARCHAR},
			</if>
			<if test="outDate != null">
				#{outDate,jdbcType=VARCHAR},
			</if>
			<if test="dataid != null">
				#{dataid,jdbcType=VARCHAR},
			</if>
			<if test="editid != null">
				#{editid,jdbcType=VARCHAR},
			</if>
			<if test="flowStatus != null">
				#{flowStatus,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateSelective" parameterType="com.hjy.entity.user.UcSellerinfo">
		update uc_sellerinfo
		<set>
			<if test="uid != null">
				uid = #{uid,jdbcType=CHAR},
			</if>
			<if test="sellerCode != null">
				seller_code = #{sellerCode,jdbcType=VARCHAR},
			</if>
			<if test="smallSellerCode != null">
				small_seller_code = #{smallSellerCode,jdbcType=VARCHAR},
			</if>
			<if test="sellerName != null">
				seller_name = #{sellerName,jdbcType=VARCHAR},
			</if>
			<if test="sellerShortName != null">
				seller_short_name = #{sellerShortName,jdbcType=VARCHAR},
			</if>
			<if test="sellerDescrption != null">
				seller_descrption = #{sellerDescrption,jdbcType=VARCHAR},
			</if>
			<if test="sellerStatus != null">
				seller_status = #{sellerStatus,jdbcType=VARCHAR},
			</if>
			<if test="sellerAccount != null">
				seller_account = #{sellerAccount,jdbcType=VARCHAR},
			</if>
			<if test="sellerUrl != null">
				seller_url = #{sellerUrl,jdbcType=VARCHAR},
			</if>
			<if test="sellerPic != null">
				seller_pic = #{sellerPic,jdbcType=VARCHAR},
			</if>
			<if test="sellerArea != null">
				seller_area = #{sellerArea,jdbcType=VARCHAR},
			</if>
			<if test="sellerTelephone != null">
				seller_telephone = #{sellerTelephone,jdbcType=VARCHAR},
			</if>
			<if test="sellerReturnAddress != null">
				seller_return_address =
				#{sellerReturnAddress,jdbcType=VARCHAR},
			</if>
			<if test="sellerReturnPostcode != null">
				seller_return_postcode =
				#{sellerReturnPostcode,jdbcType=VARCHAR},
			</if>
			<if test="sellerReturnContact != null">
				seller_return_contact =
				#{sellerReturnContact,jdbcType=VARCHAR},
			</if>
			<if test="sellerReturnTelephone != null">
				seller_return_telephone =
				#{sellerReturnTelephone,jdbcType=VARCHAR},
			</if>
			<if test="sellerCompanyName != null">
				seller_company_name =
				#{sellerCompanyName,jdbcType=VARCHAR},
			</if>
			<if test="secondLevelDomain != null">
				second_level_domain =
				#{secondLevelDomain,jdbcType=VARCHAR},
			</if>
			<if test="qrcodeLink != null">
				qrcode_link = #{qrcodeLink,jdbcType=VARCHAR},
			</if>
			<if test="sellerEmail != null">
				seller_email = #{sellerEmail,jdbcType=VARCHAR},
			</if>
			<if test="sellerType != null">
				seller_type = #{sellerType,jdbcType=VARCHAR},
			</if>
			<if test="outDate != null">
				out_date = #{outDate,jdbcType=VARCHAR},
			</if>
			<if test="dataid != null">
				dataId = #{dataid,jdbcType=VARCHAR},
			</if>
			<if test="editid != null">
				editId = #{editid,jdbcType=VARCHAR},
			</if>
			<if test="flowStatus != null">
				flow_status = #{flowStatus,jdbcType=VARCHAR},
			</if>
		</set>
		where zid = #{zid,jdbcType=INTEGER}
	</update>
	<select id="selectBySmallSellerCode" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from uc_sellerinfo
		<where>
			small_seller_code = #{smallSellerCode,jdbcType=VARCHAR}
		</where>
	</select>
</mapper>