<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hjy.dao.order.IOcKjSellerSeparateOrderDao">

	<resultMap id="BaseResultMap" type="com.hjy.entity.order.OcKjSellerSeparateOrder">
		<id column="zid" property="zid" jdbcType="INTEGER" />
		<result column="order_code" property="orderCode" jdbcType="VARCHAR" />
		<result column="seller_order_code" property="sellerOrderCode" jdbcType="VARCHAR" />
		<result column="order_code_seq" property="orderCodeSeq" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="seller_status" property="sellerStatus" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="sku_sell_price" property="skuSellPrice" jdbcType="VARCHAR" />
		<result column="tax_price" property="taxPrice" jdbcType="DECIMAL" />
		<result column="quantity" property="quantity" jdbcType="VARCHAR" />
		<result column="order_type" property="orderType" jdbcType="VARCHAR" />
		<result column="freight" property="freight" jdbcType="DECIMAL" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="product_code" property="productCode" jdbcType="VARCHAR" />
		<result column="sku_code" property="skuCode" jdbcType="VARCHAR" />
		<result column="sku_name" property="skuName" jdbcType="VARCHAR" />
		<result column="seller_code" property="sellerCode" jdbcType="VARCHAR" />
		<result column="seller_product_code" property="sellerProductCode" jdbcType="VARCHAR" />
		<result column="seller_sku_code" property="sellerSkuCode" jdbcType="VARCHAR" />
		<result column="request_json" property="requestJson" jdbcType="LONGVARCHAR" />
		<result column="remark" property="remark" jdbcType="LONGVARCHAR" />
	</resultMap>
	
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
			*
		from 
			ordercenter.oc_kj_seller_separate_order
		where 
			zid = #{zid,jdbcType=INTEGER}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from ordercenter.oc_kj_seller_separate_order where zid = #{zid,jdbcType=INTEGER}
	</delete>
	
	<insert id="insertSelective" parameterType="com.hjy.entity.order.OcKjSellerSeparateOrder">
		insert into ordercenter.oc_kj_seller_separate_order
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="zid != null">
				zid,
			</if>
			<if test="orderCode != null">
				order_code,
			</if>
			<if test="sellerOrderCode != null">
				seller_order_code,
			</if>
			<if test="orderCodeSeq != null">
				order_code_seq,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="sellerStatus != null">
				seller_status,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="skuSellPrice != null">
				sku_sell_price,
			</if>
			<if test="taxPrice != null">
				tax_price,
			</if>
			<if test="quantity != null">
				quantity,
			</if>
			<if test="orderType != null">
				order_type,
			</if>
			<if test="freight != null">
				freight,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="productCode != null">
				product_code,
			</if>
			<if test="skuCode != null">
				sku_code,
			</if>
			<if test="skuName != null">
				sku_name,
			</if>
			<if test="sellerCode != null">
				seller_code,
			</if>
			<if test="sellerProductCode != null">
				seller_product_code,
			</if>
			<if test="sellerSkuCode != null">
				seller_sku_code,
			</if>
			<if test="requestJson != null">
				request_json,
			</if>
			<if test="remark != null">
				remark,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="zid != null">
				#{zid,jdbcType=INTEGER},
			</if>
			<if test="orderCode != null">
				#{orderCode,jdbcType=VARCHAR},
			</if>
			<if test="sellerOrderCode != null">
				#{sellerOrderCode,jdbcType=VARCHAR},
			</if>
			<if test="orderCodeSeq != null">
				#{orderCodeSeq,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=VARCHAR},
			</if>
			<if test="sellerStatus != null">
				#{sellerStatus,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="skuSellPrice != null">
				#{skuSellPrice , jdbcType=VARCHAR},
			</if>
			<if test="taxPrice != null">
				#{taxPrice,jdbcType=DECIMAL},
			</if>
			<if test="quantity != null">
				#{quantity,jdbcType=VARCHAR},
			</if>
			<if test="orderType != null">
				#{orderType,jdbcType=VARCHAR},
			</if>
			<if test="freight != null">
				#{freight,jdbcType=DECIMAL},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="productCode != null">
				#{productCode,jdbcType=VARCHAR},
			</if>
			<if test="skuCode != null">
				#{skuCode,jdbcType=VARCHAR},
			</if>
			<if test="skuName != null">
				#{skuName,jdbcType=VARCHAR},
			</if>
			<if test="sellerCode != null">
				#{sellerCode,jdbcType=VARCHAR},
			</if>
			<if test="sellerProductCode != null">
				#{sellerProductCode,jdbcType=VARCHAR},
			</if>
			<if test="sellerSkuCode != null">
				#{sellerSkuCode,jdbcType=VARCHAR},
			</if>
			<if test="requestJson != null">
				#{requestJson,jdbcType=LONGVARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	
	<update id="updateSelective" parameterType="com.hjy.entity.order.OcKjSellerSeparateOrder">
		update ordercenter.oc_kj_seller_separate_order
		<set>
			<if test="orderCode != null">
				order_code = #{orderCode,jdbcType=VARCHAR},
			</if>
			<if test="sellerOrderCode != null">
				seller_order_code = #{sellerOrderCode,jdbcType=VARCHAR},
			</if>
			<if test="orderCodeSeq != null">
				order_code_seq = #{orderCodeSeq,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=VARCHAR},
			</if>
			<if test="sellerStatus != null">
				seller_status = #{sellerStatus,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="skuSellPrice != null">
				sku_sell_price = #{skuSellPrice,jdbcType=VARCHAR},
			</if>
			<if test="taxPrice != null">
				tax_price = #{taxPrice,jdbcType=DECIMAL},
			</if>
			<if test="quantity != null">
				quantity = #{quantity,jdbcType=VARCHAR},
			</if>
			<if test="orderType != null">
				order_type = #{orderType,jdbcType=VARCHAR},
			</if>
			<if test="freight != null">
				freight = #{freight,jdbcType=DECIMAL},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="productCode != null">
				product_code = #{productCode,jdbcType=VARCHAR},
			</if>
			<if test="skuCode != null">
				sku_code = #{skuCode,jdbcType=VARCHAR},
			</if>
			<if test="skuName != null">
				sku_name = #{skuName,jdbcType=VARCHAR},
			</if>
			<if test="sellerCode != null">
				seller_code = #{sellerCode,jdbcType=VARCHAR},
			</if>
			<if test="sellerProductCode != null">
				seller_product_code = #{sellerProductCode,jdbcType=VARCHAR},
			</if>
			<if test="sellerSkuCode != null">
				seller_sku_code = #{sellerSkuCode,jdbcType=VARCHAR},
			</if>
			<if test="requestJson != null">
				request_json = #{requestJson,jdbcType=LONGVARCHAR},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where zid = #{zid,jdbcType=INTEGER}
	</update>
	

	<select id="selectByStatus" resultMap="java.lang.String" parameterType="com.hjy.entity.order.OcKjSellerSeparateOrder">
		select
			seller_order_code
		from 
			ordercenter.oc_kj_seller_separate_order
		where 
			seller_status != #{sellerStatus ,  jdbcType=VARCHAR}
			and seller_code = #{sellerCode , jdbcType=VARCHAR}
	</select>
	
	<select id="selectByTypes" resultMap="BaseResultMap" parameterType="com.hjy.entity.order.OcKjSellerSeparateOrder">
		select
			* 
		from 
			ordercenter.oc_kj_seller_separate_order
		where 
			seller_status != #{sellerStatus ,  jdbcType=VARCHAR}
			and seller_code = #{sellerCode , jdbcType=VARCHAR}
	</select>
	
	
	<update id="updateBySellerOrderCode" parameterType="com.hjy.entity.order.OcKjSellerSeparateOrder">
		update ordercenter.oc_kj_seller_separate_order
		<set>
			<if test="status != null">
				status = #{status,jdbcType=VARCHAR},
			</if>
			<if test="sellerStatus != null">
				seller_status = #{sellerStatus,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where seller_order_code = #{sellerOrderCode,jdbcType=VARCHAR}
	</update>
	
	<!-- 查询作废的订单 - 20160918 - Yangcl -->
	<select id="selectVoidOrderInfo" resultMap="BaseResultMap" parameterType="com.hjy.dto.minspc.VoidDto">
		select 
			* 
		from
			ordercenter.oc_kj_seller_separate_order kj 
			left join ordercenter.oc_orderinfo i on kj.order_code = i.order_code 
		where 
			i.small_seller_code = #{sellerCode , jdbcType=VARCHAR} 
			and (i.order_status = "4497153900010001" or i.order_status = "4497153900010002") #未付款或未发货
			and i.order_status_ext != '4497153900140002' # 订单辅助状态|不为正常状态的订单
			and kj.seller_code = #{sellerCode , jdbcType=VARCHAR} 
		    and kj.seller_status = #{sellerStatus , jdbcType=VARCHAR}    # 商户订单状态|还未出关
	</select>
</mapper>













































