<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjy.dao.order.IOcKjSellerCustomsDeclarationDao">
	
	<resultMap id="BaseResultMap" type="com.hjy.entity.order.OcKjSellerCustomsDeclaration">
		<id column="zid" property="zid" jdbcType="INTEGER" />
		<result column="uid" property="uid" jdbcType="VARCHAR" />
		<result column="seller_code" property="sellerCode" jdbcType="VARCHAR" />
		<result column="order_code" property="orderCode" jdbcType="VARCHAR" />
		<result column="big_order_code" property="bigOrderCode" jdbcType="VARCHAR" />
		<result column="due_money" property="dueMoney" jdbcType="DECIMAL" />
		<result column="flag" property="flag" jdbcType="INTEGER" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="bank_order_id" property="bankOrderId" jdbcType="VARCHAR" />
		<result column="order_amount" property="orderAmount" jdbcType="DECIMAL" />
		<result column="money_type" property="moneyType" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="remark" property="remark" jdbcType="LONGVARCHAR" />
		<result column="seller_name" property="sellerName" jdbcType="VARCHAR" />
		<result column="trade_no" property="tradeNo" jdbcType="VARCHAR" /> 
		<result column="trans_num" property="transNum" jdbcType="VARCHAR" /> 
		<result column="transport_money" property="transportMoney" jdbcType="DECIMAL" /> 
		<result column="auth_name" property="authName" jdbcType="VARCHAR" /> 
		<result column="idcard" property="idcard" jdbcType="VARCHAR" />
		<result column="pay_gate" property="payGate" jdbcType="VARCHAR" />  
	</resultMap> 
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
			*
		from 
			ordercenter.oc_kj_seller_customs_declaration
		where 
			zid = #{zid,jdbcType=INTEGER}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from ordercenter.oc_kj_seller_customs_declaration where zid = #{zid,jdbcType=INTEGER}
	</delete>
	
	<insert id="insertSelective" parameterType="com.hjy.entity.order.OcKjSellerCustomsDeclaration">
		insert into ordercenter.oc_kj_seller_customs_declaration
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="zid != null">
				zid,
			</if>
			<if test="uid != null">
				uid,
			</if>
			<if test="sellerCode != null">
				seller_code,
			</if>
			<if test="orderCode != null">
				order_code,
			</if>
			<if test="bigOrderCode != null">
				big_order_code,
			</if>
			<if test="flag != null">
				flag,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="bankOrderId != null">
				bank_order_id,
			</if>
			<if test="orderAmount != null">
				order_amount,
			</if>
			<if test="moneyType != null">
				money_type,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="remark != null">
				remark,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="zid != null">
				#{zid,jdbcType=INTEGER},
			</if>
			<if test="uid != null">
				#{uid,jdbcType=VARCHAR},
			</if>
			<if test="sellerCode != null">
				#{sellerCode,jdbcType=VARCHAR},
			</if>
			<if test="orderCode != null">
				#{orderCode,jdbcType=VARCHAR},
			</if>
			<if test="bigOrderCode != null">
				#{bigOrderCode,jdbcType=VARCHAR},
			</if>
			<if test="flag != null">
				#{flag,jdbcType=INTEGER},
			</if>
			<if test="type != null">
				#{type,jdbcType=VARCHAR},
			</if>
			<if test="bankOrderId != null">
				#{bankOrderId,jdbcType=VARCHAR},
			</if>
			<if test="orderAmount != null">
				#{orderAmount,jdbcType=DECIMAL},
			</if>
			<if test="moneyType != null">
				#{moneyType,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	
	
	<update id="updateSelective" parameterType="com.hjy.entity.order.OcKjSellerCustomsDeclaration">
		update ordercenter.oc_kj_seller_customs_declaration
		<set> 
			<if test="flag != null and flag != '' ">
				flag = #{flag,jdbcType=INTEGER},
			</if> 
			<if test="updateTime != null and updateTime != '' ">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="remark != null and remark != '' ">
				remark = #{remark,jdbcType=LONGVARCHAR},
			</if>
			<if test="tradeNo != null and tradeNo != '' ">
				trade_no = #{tradeNo , jdbcType=VARCHAR},
			</if>
		</set>
		where uid = #{uid,jdbcType=VARCHAR}
	</update>
	
	
	<insert id="batchInsert" parameterType="java.util.List">  
	    replace into ordercenter.oc_kj_seller_customs_declaration 
    	(
		    	uid, 
		    	seller_code, 
			    order_code, 
			    big_order_code, 
			    due_money,
			    flag, 
				type, 
				bank_order_id, 
				order_amount, 
				money_type, 
				create_time, 
				update_time, 
				remark,
				seller_name,
				trans_num,
				transport_money,
				auth_name,
				idcard,
				pay_gate
	      )
	     values 
	    <foreach collection="list" item="item" index="index" separator="," >  
	        (
				#{item.uid,jdbcType=VARCHAR},
				#{item.sellerCode,jdbcType=VARCHAR}, 
				#{item.orderCode,jdbcType=VARCHAR}, 
				#{item.bigOrderCode,jdbcType=VARCHAR}, 
				#{item.dueMoney , jdbcType=DECIMAL},  
				#{item.flag,jdbcType=INTEGER}, 
				#{item.type,jdbcType=VARCHAR}, 
				#{item.bankOrderId,jdbcType=VARCHAR}, 
				#{item.orderAmount,jdbcType=DECIMAL}, 
				#{item.moneyType,jdbcType=INTEGER}, 
				#{item.createTime,jdbcType=TIMESTAMP}, 
				#{item.updateTime,jdbcType=TIMESTAMP}, 
				#{item.remark,jdbcType=LONGVARCHAR},
				#{item.sellerName,jdbcType=VARCHAR}, 
				#{item.transNum , jdbcType=VARCHAR}, 
				#{item.transportMoney , jdbcType=DECIMAL}, 
				#{item.authName,jdbcType=VARCHAR}, 
				#{item.idcard,jdbcType=VARCHAR},
				#{item.payGate , jdbcType=VARCHAR} 
	        )  
	    </foreach>  
	</insert>
	
	<!-- 获取报关数据集合 - Yangcl -->
	<select id="getRequestList" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
			*
		from 
			ordercenter.oc_kj_seller_customs_declaration
		where 
			update_time between #{startTime} and #{endTime} 
			and type = #{type} 
	</select>
</mapper>


























