<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjy.dao.order.IOcOrderaddressDao">
	<resultMap id="BaseResultMap" type="com.hjy.entity.order.OcOrderaddress">
		<id column="zid" jdbcType="INTEGER" property="zid" />
		<result column="uid" jdbcType="CHAR" property="uid" />
		<result column="order_code" jdbcType="VARCHAR" property="orderCode" />
		<result column="area_code" jdbcType="VARCHAR" property="areaCode" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="postcode" jdbcType="VARCHAR" property="postcode" />
		<result column="mobilephone" jdbcType="VARCHAR" property="mobilephone" />
		<result column="telephone" jdbcType="VARCHAR" property="telephone" />
		<result column="receive_person" jdbcType="VARCHAR" property="receivePerson" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="invoice_title" jdbcType="VARCHAR" property="invoiceTitle" />
		<result column="invoice_type" jdbcType="VARCHAR" property="invoiceType" />
		<result column="invoice_content" jdbcType="VARCHAR" property="invoiceContent" />
		<result column="flag_invoice" jdbcType="INTEGER" property="flagInvoice" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="invoice_status" jdbcType="VARCHAR" property="invoiceStatus" />
		<result column="auth_true_name" jdbcType="VARCHAR" property="authTrueName" />
		<result column="auth_idcard_type" jdbcType="VARCHAR" property="authIdcardType" />
		<result column="auth_idcard_number" jdbcType="VARCHAR"
			property="authIdcardNumber" />
		<result column="auth_phone_number" jdbcType="VARCHAR" property="authPhoneNumber" />
		<result column="auth_email" jdbcType="VARCHAR" property="authEmail" />
		<result column="auth_address" jdbcType="VARCHAR" property="authAddress" />
	</resultMap>

	<!-- 根据order_code查询 订单地址发票表 2016-06-28 zhy -->
	<select id="findOrderAddressByOrderCode" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT
			zid,
			uid,
			order_code,
			area_code,
			address,
			postcode,
			mobilephone,
			telephone,
			receive_person,
			email,
			invoice_title,
			invoice_type,
			invoice_content,
			flag_invoice,
			remark,
			invoice_status,
			auth_true_name,
			auth_idcard_type,
			auth_idcard_number,
			auth_phone_number,
			auth_email,
			auth_address
		FROM
			ordercenter.oc_orderadress
		<where>
			order_code = #{orderCode,jdbcType=VARCHAR}
		</where>
	</select>

	<!-- open api 批量插入订单信息 - Yangcl  -->
	<insert id="apiBatchInsert" parameterType="java.util.List">
		replace into ordercenter.oc_orderadress
			( 
				uid,
				order_code,
				area_code,
				address,
				postcode,
				mobilephone,
				receive_person,
				email,
				invoice_title,
				invoice_type,
				invoice_content,
				flag_invoice,
				remark,
				invoice_status,
				auth_true_name,
				auth_idcard_type,
				auth_idcard_number,
				auth_phone_number,
				auth_email,
				auth_address
			) 
		values
		<foreach collection="list" item="item" index="index" separator=",">
			(
				 #{item.uid} , 
				 #{item.orderCode}
				 // TODO 
			 )
		</foreach>
	</insert>
</mapper>














