<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjy.dao.order.IOcOrderPayDao">
	
	<resultMap id="BaseResultMap" type="com.hjy.entity.order.OcOrderPay">
		<id column="zid" property="zid" jdbcType="INTEGER" />
		<result column="uid" property="uid" jdbcType="VARCHAR" />
		<result column="order_code" property="orderCode" jdbcType="VARCHAR" />
		<result column="pay_sequenceid" property="paySequenceid" jdbcType="VARCHAR" />
		<result column="payed_money" property="payedMoney" jdbcType="DECIMAL" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="pay_type" property="payType" jdbcType="VARCHAR" />
		<result column="pay_remark" property="payRemark" jdbcType="VARCHAR" />
		<result column="merchant_id" property="merchantId" jdbcType="VARCHAR" />
		<result column="php_code" property="phpCode" jdbcType="VARCHAR" />
		<result column="payed_all_fee" property="payedAllFee" jdbcType="DECIMAL" />
		<result column="payed_fee" property="payedFee" jdbcType="DECIMAL" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="pay_code" property="payCode" jdbcType="VARCHAR" />
	</resultMap>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
			*
		from 
			ordercenter.oc_order_pay
		where 
			zid = #{zid,jdbcType=INTEGER}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from ordercenter.oc_order_pay
		where zid = #{zid,jdbcType=INTEGER}
	</delete>

	<insert id="insertSelective" parameterType="com.hjy.entity.order.OcOrderPay">
		insert into ordercenter.oc_order_pay
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="zid != null">
				zid,
			</if>
			<if test="uid != null">
				uid,
			</if>
			<if test="orderCode != null">
				order_code,
			</if>
			<if test="paySequenceid != null">
				pay_sequenceid,
			</if>
			<if test="payedMoney != null">
				payed_money,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="payType != null">
				pay_type,
			</if>
			<if test="payRemark != null">
				pay_remark,
			</if>
			<if test="merchantId != null">
				merchant_id,
			</if>
			<if test="phpCode != null">
				php_code,
			</if>
			<if test="payedAllFee != null">
				payed_all_fee,
			</if>
			<if test="payedFee != null">
				payed_fee,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="payCode != null">
				pay_code,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="zid != null">
				#{zid,jdbcType=INTEGER},
			</if>
			<if test="uid != null">
				#{uid,jdbcType=VARCHAR},
			</if>
			<if test="orderCode != null">
				#{orderCode,jdbcType=VARCHAR},
			</if>
			<if test="paySequenceid != null">
				#{paySequenceid,jdbcType=VARCHAR},
			</if>
			<if test="payedMoney != null">
				#{payedMoney,jdbcType=DECIMAL},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=VARCHAR},
			</if>
			<if test="payType != null">
				#{payType,jdbcType=VARCHAR},
			</if>
			<if test="payRemark != null">
				#{payRemark,jdbcType=VARCHAR},
			</if>
			<if test="merchantId != null">
				#{merchantId,jdbcType=VARCHAR},
			</if>
			<if test="phpCode != null">
				#{phpCode,jdbcType=VARCHAR},
			</if>
			<if test="payedAllFee != null">
				#{payedAllFee,jdbcType=DECIMAL},
			</if>
			<if test="payedFee != null">
				#{payedFee,jdbcType=DECIMAL},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="payCode != null">
				#{payCode,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	
	<update id="updateSelective" parameterType="com.hjy.entity.order.OcOrderPay">
		update ordercenter.oc_order_pay
		<set>
			<if test="uid != null">
				uid = #{uid,jdbcType=VARCHAR},
			</if>
			<if test="orderCode != null">
				order_code = #{orderCode,jdbcType=VARCHAR},
			</if>
			<if test="paySequenceid != null">
				pay_sequenceid = #{paySequenceid,jdbcType=VARCHAR},
			</if>
			<if test="payedMoney != null">
				payed_money = #{payedMoney,jdbcType=DECIMAL},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=VARCHAR},
			</if>
			<if test="payType != null">
				pay_type = #{payType,jdbcType=VARCHAR},
			</if>
			<if test="payRemark != null">
				pay_remark = #{payRemark,jdbcType=VARCHAR},
			</if>
			<if test="merchantId != null">
				merchant_id = #{merchantId,jdbcType=VARCHAR},
			</if>
			<if test="phpCode != null">
				php_code = #{phpCode,jdbcType=VARCHAR},
			</if>
			<if test="payedAllFee != null">
				payed_all_fee = #{payedAllFee,jdbcType=DECIMAL},
			</if>
			<if test="payedFee != null">
				payed_fee = #{payedFee,jdbcType=DECIMAL},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="payCode != null">
				pay_code = #{payCode,jdbcType=VARCHAR},
			</if>
		</set>
		where zid = #{zid,jdbcType=INTEGER}
	</update>
	
	<select id="findList" resultMap="BaseResultMap" parameterType="com.hjy.entity.order.OcOrderPay">
		select
		 	*
		from 
			ordercenter.oc_order_pay
		where 
			1=1 
			<if test="orderCode != null">
				and order_code = #{orderCode , jdbcType=VARCHAR} 
			</if>
	</select>
	
	<select id="findListByOrderCode" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		 	*
		from 
			ordercenter.oc_order_pay
		where 
			order_code = #{orderCode , jdbcType=VARCHAR} 
	</select>
</mapper>

















