<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjy.dao.order.IOcOrderShipmentsDao">
	
	<resultMap id="BaseResultMap" type="com.hjy.entity.order.OcOrderShipments">
		<id column="zid" property="zid" jdbcType="INTEGER" />
		<result column="uid" property="uid" jdbcType="VARCHAR" />
		<result column="order_code" property="orderCode" jdbcType="VARCHAR" />
		<result column="logisticse_code" property="logisticseCode" jdbcType="VARCHAR" />
		<result column="logisticse_name" property="logisticseName" jdbcType="VARCHAR" />
		<result column="waybill" property="waybill" jdbcType="VARCHAR" />
		<result column="creator" property="creator" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="is_send100_flag" property="isSend100Flag" jdbcType="INTEGER" />
		<result column="send_count" property="sendCount" jdbcType="INTEGER" />
		<result column="send_remark" property="sendRemark" jdbcType="VARCHAR" />
		<result column="order_code_seq" property="orderCodeSeq" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="CHAR" />
		<result column="update_user" property="updateUser" jdbcType="VARCHAR" />
		<result column="shipments_code" property="shipmentsCode" jdbcType="VARCHAR" />
	</resultMap>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
			*
		from ordercenter.oc_order_shipments
		where zid = #{zid,jdbcType=INTEGER}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from ordercenter.oc_order_shipments
		where zid = #{zid,jdbcType=INTEGER}
	</delete>
	
	<insert id="insertSelective" parameterType="com.hjy.entity.order.OcOrderShipments">
		replace into ordercenter.oc_order_shipments
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="zid != null">
				zid,
			</if>
			<if test="uid != null">
				uid,
			</if>
			<if test="orderCode != null">
				order_code,
			</if>
			<if test="logisticseCode != null">
				logisticse_code,
			</if>
			<if test="logisticseName != null">
				logisticse_name,
			</if>
			<if test="waybill != null">
				waybill,
			</if>
			<if test="creator != null">
				creator,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="isSend100Flag != null">
				is_send100_flag,
			</if>
			<if test="sendCount != null">
				send_count,
			</if>
			<if test="sendRemark != null">
				send_remark,
			</if>
			<if test="orderCodeSeq != null">
				order_code_seq,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="updateUser != null">
				update_user,
			</if>
			<if test="shipmentsCode != null">
				shipments_code,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="zid != null">
				#{zid,jdbcType=INTEGER},
			</if>
			<if test="uid != null">
				#{uid,jdbcType=VARCHAR},
			</if>
			<if test="orderCode != null">
				#{orderCode,jdbcType=VARCHAR},
			</if>
			<if test="logisticseCode != null">
				#{logisticseCode,jdbcType=VARCHAR},
			</if>
			<if test="logisticseName != null">
				#{logisticseName,jdbcType=VARCHAR},
			</if>
			<if test="waybill != null">
				#{waybill,jdbcType=VARCHAR},
			</if>
			<if test="creator != null">
				#{creator,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="isSend100Flag != null">
				#{isSend100Flag,jdbcType=INTEGER},
			</if>
			<if test="sendCount != null">
				#{sendCount,jdbcType=INTEGER},
			</if>
			<if test="sendRemark != null">
				#{sendRemark,jdbcType=VARCHAR},
			</if>
			<if test="orderCodeSeq != null">
				#{orderCodeSeq,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=CHAR},
			</if>
			<if test="updateUser != null">
				#{updateUser,jdbcType=VARCHAR},
			</if>
			<if test="shipmentsCode != null">
				#{shipmentsCode,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	
	<update id="updateSelective" parameterType="com.hjy.entity.order.OcOrderShipments">
		update ordercenter.oc_order_shipments
		<set>
			<if test="uid != null">
				uid = #{uid,jdbcType=VARCHAR},
			</if>
			<if test="orderCode != null">
				order_code = #{orderCode,jdbcType=VARCHAR},
			</if>
			<if test="logisticseCode != null">
				logisticse_code = #{logisticseCode,jdbcType=VARCHAR},
			</if>
			<if test="logisticseName != null">
				logisticse_name = #{logisticseName,jdbcType=VARCHAR},
			</if>
			<if test="waybill != null">
				waybill = #{waybill,jdbcType=VARCHAR},
			</if>
			<if test="creator != null">
				creator = #{creator,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="isSend100Flag != null">
				is_send100_flag = #{isSend100Flag,jdbcType=INTEGER},
			</if>
			<if test="sendCount != null">
				send_count = #{sendCount,jdbcType=INTEGER},
			</if>
			<if test="sendRemark != null">
				send_remark = #{sendRemark,jdbcType=VARCHAR},
			</if>
			<if test="orderCodeSeq != null">
				order_code_seq = #{orderCodeSeq,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=CHAR},
			</if>
			<if test="updateUser != null">
				update_user = #{updateUser,jdbcType=VARCHAR},
			</if>
			<if test="shipmentsCode != null">
				shipments_code = #{shipmentsCode,jdbcType=VARCHAR},
			</if>
		</set>
		where zid = #{zid,jdbcType=INTEGER}
	</update>
	

	<select id="findByType" resultMap="BaseResultMap" parameterType="com.hjy.entity.order.OcOrderShipments">
		select
		 	*
		from 
			ordercenter.oc_order_shipments
		where 
			1=1 
			<if test="orderCode != null">
				and order_code = #{orderCode , jdbcType=VARCHAR} 
			</if>
			<if test="waybill != null">
				and waybill = #{waybill,jdbcType=VARCHAR}
			</if>
	</select>

	<!-- open api 批量插入订单对应物流信息 - Yangcl  -->
	<insert id="apiBatchInsert" parameterType="java.util.List">
		replace into ordercenter.oc_order_shipments( uid ,  order_code , logisticse_code , logisticse_name , waybill , creator , create_time , remark ) values
		<foreach collection="list" item="item" index="index" separator=",">
			( #{item.uid} , #{item.orderCode} , #{item.logisticseCode} , #{item.logisticseName} , #{item.waybill} , #{item.creator} , #{item.createTime} , #{item.remark}  )
		</foreach>
	</insert>
	
 
</mapper>




















