<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjy.dao.order.IOcOrderinfoDao">
	<resultMap id="BaseResultMap" type="com.hjy.entity.order.OcOrderinfo">
		<id column="zid" jdbcType="INTEGER" property="zid" />
		<result column="uid" jdbcType="CHAR" property="uid" />
		<result column="order_code" jdbcType="VARCHAR" property="orderCode" />
		<result column="order_source" jdbcType="VARCHAR" property="orderSource" />
		<result column="order_type" jdbcType="VARCHAR" property="orderType" />
		<result column="order_status" jdbcType="VARCHAR" property="orderStatus" />
		<result column="seller_code" jdbcType="VARCHAR" property="sellerCode" />
		<result column="buyer_code" jdbcType="VARCHAR" property="buyerCode" />
		<result column="pay_type" jdbcType="VARCHAR" property="payType" />
		<result column="send_type" jdbcType="VARCHAR" property="sendType" />
		<result column="product_money" jdbcType="DECIMAL" property="productMoney" />
		<result column="transport_money" jdbcType="DECIMAL" property="transportMoney" />
		<result column="promotion_money" jdbcType="DECIMAL" property="promotionMoney" />
		<result column="order_money" jdbcType="DECIMAL" property="orderMoney" />
		<result column="payed_money" jdbcType="DECIMAL" property="payedMoney" />
		<result column="create_time" jdbcType="CHAR" property="createTime" />
		<result column="update_time" jdbcType="CHAR" property="updateTime" />
		<result column="product_name" jdbcType="VARCHAR" property="productName" />
		<result column="free_transport_money" jdbcType="DECIMAL"
			property="freeTransportMoney" />
		<result column="due_money" jdbcType="DECIMAL" property="dueMoney" />
		<result column="order_channel" jdbcType="VARCHAR" property="orderChannel" />
		<result column="app_version" jdbcType="VARCHAR" property="appVersion" />
		<result column="delete_flag" jdbcType="VARCHAR" property="deleteFlag" />
		<result column="out_order_code" jdbcType="VARCHAR" property="outOrderCode" />
		<result column="big_order_code" jdbcType="VARCHAR" property="bigOrderCode" />
		<result column="order_status_ext" jdbcType="VARCHAR" property="orderStatusExt" />
		<result column="small_seller_code" jdbcType="VARCHAR" property="smallSellerCode" />
		<result column="order_seq" jdbcType="CHAR" property="orderSeq" />
		<result column="order_audit_status" jdbcType="VARCHAR"
			property="orderAuditStatus" />
		<result column="low_order" jdbcType="VARCHAR" property="lowOrder" />
		<result column="room_id" jdbcType="VARCHAR" property="roomId" />
		<result column="anchor_id" jdbcType="VARCHAR" property="anchorId" />
	</resultMap>

	<!-- 根据订单编号查询订单信息 2016-06-28 zhy -->
	<select id="findOrderInfoByOrderCode" parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT
		zid,
		uid,
		order_code,
		order_source,
		order_type,
		order_status,
		seller_code,
		buyer_code,
		pay_type,
		send_type,
		product_money,
		transport_money,
		promotion_money,
		order_money,
		payed_money,
		create_time,
		update_time,
		product_name,
		free_transport_money,
		due_money,
		order_channel,
		app_version,
		delete_flag,
		out_order_code,
		big_order_code,
		order_status_ext,
		small_seller_code,
		order_seq,
		order_audit_status,
		low_order,
		room_id,
		anchor_id
		FROM
		ordercenter.oc_orderinfo
		<where>
			order_code = #{orderCode,jdbcType=VARCHAR}
		</where>
	</select>
	<!-- 根据订单编号更新订单信息表 2016-06-30 zhy -->
	<update id="updateSelective" parameterType="com.hjy.entity.order.OcOrderinfo">
		UPDATE ordercenter.oc_orderinfo
		<set>
			<trim suffixOverrides=",">
				<if test="orderStatus != null and orderStatus != ''">
					order_status = #{orderStatus,jdbcType=VARCHAR},
				</if>
				<if test="updateTime != null and updateTime != ''">
					update_time = #{updateTime,jdbcType=VARCHAR},
				</if>
			</trim>
		</set>
		<where>
			order_code = #{orderCode,jdbcType=VARCHAR}
		</where>
	</update>

	<select id="countByOrderCode" parameterType="com.hjy.entity.order.OcOrderinfo" resultType="java.lang.Integer">
		select
			count(*)
		from
			ordercenter.oc_orderinfo
		where
			order_code = #{orderCode , jdbcType=VARCHAR}
		and
			order_status = #{orderStatus , jdbcType=VARCHAR}
	</select>
	
	
	<!-- 根据small_seller_code返回订单详细信息列表。seller-open-api项目中使用 2016-08-04 - Yangcl  -->
	<resultMap id="OrderApiResultMap" type="com.hjy.response.OrderInfoResponse"> 
		<!-- oc_orderinfo 表字段 -->
		<result column="order_code" jdbcType="VARCHAR" property="orderCode" /> 
		<result column="product_money" jdbcType="DECIMAL" property="productMoney" />
		<result column="transport_money" jdbcType="DECIMAL" property="transportMoney" />
		<result column="order_money" jdbcType="DECIMAL" property="orderMoney" />
		<result column="payed_money" jdbcType="DECIMAL" property="payedMoney" />
		<result column="product_name" jdbcType="VARCHAR" property="productName" />
		<!-- oc_orderdetail 表字段 -->
		<result column="sku_code" jdbcType="VARCHAR" property="skuCode" />
		<result column="product_code" jdbcType="VARCHAR" property="productCode" />
		<result column="sku_name" jdbcType="VARCHAR" property="skuName" />
		<result column="sku_price" jdbcType="DECIMAL" property="skuPrice" />
		<result column="sku_num" jdbcType="INTEGER" property="skuNum" />
		<result column="show_price" jdbcType="DECIMAL" property="showPrice" />
		<result column="tax_rate" jdbcType="DECIMAL" property="taxRate" />
		<!-- oc_orderadress 表字段-->
		<result column="area_code" jdbcType="VARCHAR" property="areaCode" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="postcode" jdbcType="VARCHAR" property="postcode" /> 
		<!-- oc_order_remark 表字段 -->
		<result column="remark" jdbcType="VARCHAR" property="remark" />
	</resultMap>
	<select id="getOpenApiOrderinfoList" parameterType="com.hjy.request.data.OrderInfoRequestDto" resultMap="OrderApiResultMap">
		SELECT 
				info.order_code AS orderCode,
				info.product_money AS productMoney,
				info.transport_money AS transportMoney,
				info.order_money AS orderMoney,
				info.payed_money AS infoPayedMoney,
				info.product_name AS productName,
				detail.sku_code AS skuCode,
				detail.product_code AS productCode,
				detail.sku_name AS skuName,
				detail.sku_price AS skuPrice,
				detail.sku_num AS skuNum,
				detail.show_price AS showPrice,
				detail.tax_rate AS taxRate ,  # 税率
				address.area_code AS areaCode , # 地区编码
				address.address AS address , 
				address.postcode AS postcode ,  
				remark.remark AS remark 
		FROM
				ordercenter.oc_orderinfo info 
				LEFT JOIN ordercenter.oc_orderdetail detail ON info.order_code = detail.order_code 
				LEFT JOIN ordercenter.oc_orderadress address ON info.order_code = address.order_code 
				LEFT JOIN ordercenter.oc_order_remark remark ON info.order_code = remark.order_code
		WHERE 
				info.create_time between #{startTime , jdbcType=VARCHAR} and #{endTime , jdbcType=VARCHAR} 
				and info.small_seller_code = #{sellerCode , jdbcType=VARCHAR} 
				<if test="orderCode != null and orderCode != ''">
					 and info.order_code = #{orderCode , jdbcType=VARCHAR}
				</if>
	</select>
	
	
 	<!-- 根据订单编号更新订单信息表  open api 使用 - Yangcl -->
	<update id="apiUpdateOrderinfoStatus" parameterType="com.hjy.request.data.OrderInfoStatusDto">
		UPDATE ordercenter.oc_orderinfo
		<set>
			<if test="orderStatus != null and orderStatus != ''">
				order_status = #{orderStatus , jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null and updateTime != ''">
				update_time = #{updateTime,jdbcType=VARCHAR},
			</if>
		</set>
		where 
			order_code = #{orderCode,jdbcType=VARCHAR} and small_seller_code = #{sellerCode,jdbcType=VARCHAR}
	</update>
	
	
	<!-- 根据order_code 和 small_seller_code获取一条记录信息 2016-08-10 Yangcl -->
	<select id="getOrderInfoByCode" parameterType="com.hjy.entity.order.OcOrderinfo" resultMap="BaseResultMap">
		SELECT
			*
		FROM
			ordercenter.oc_orderinfo
		<where>
			order_code = #{orderCode,jdbcType=VARCHAR}
		</where>
	</select>
	
	<!-- open api 批量插入订单信息 - Yangcl  -->
	<insert id="apiBatchInsert" parameterType="java.util.List">
		replace into ordercenter.oc_orderinfo
			( 
				uid,
				order_code,
				order_source,
				order_type,
				order_status,
				seller_code, 
				pay_type,
				send_type,
				product_money,
				transport_money, 
				order_money,
				payed_money,
				create_time, 
				product_name, 
				due_money,
				order_channel, 
				order_status_ext,
				small_seller_code, 
				order_audit_status,
				low_order ,
				out_order_code
			) 
		values
		<foreach collection="list" item="item" index="index" separator=",">
			(
				 #{item.uid} , 
				 #{item.orderCode} ,
				 #{item.orderSource} , 
				 #{item.orderType} ,
				 #{item.orderStatus} , 
				 #{item.sellerCode} , 
				 #{item.payType} ,
				 #{item.sendType} , 
				 #{item.productMoney} ,
				 #{item.transportMoney} , 
				 #{item.orderMoney} , 
				 #{item.payedMoney} ,
				 #{item.createTime} , 
				 #{item.productName} ,
				 #{item.dueMoney} , 
				 #{item.orderChannel} , 
				 #{item.orderStatusExt} ,
				 #{item.smallSellerCode} , 
				 #{item.orderAuditStatus} ,
				 #{item.lowOrder},
				 #{item.outOrderCode} 
			 )
		</foreach>
	</insert>
	
	
	<!--  返回订单详细信息列表。seller-adapter-minspc项目中使用 2016-09-07 - Yangcl  -->
	<resultMap id="OrderMinspcResultMap" type="com.hjy.dto.minspc.MinspcOrderinfoSelect"></resultMap>
	<select id="getMinspcOrderinfoList" parameterType="java.util.List" resultMap="OrderMinspcResultMap">
		SELECT
			info.order_code AS orderCode,
			info.product_money AS productMoney,
			info.transport_money AS transportMoney,
			info.order_money AS orderMoney,
			info.payed_money AS payedMoney,
			info.product_name AS productName,
			
			address.area_code AS areaCode, # 地区编码
			address.address AS address,
			address.postcode AS postcode,
			
			address.mobilephone as mobile,
			address.auth_true_name as authName,
			address.auth_idcard_type as idcardType,
			address.auth_idcard_number as authIdcardNumber,
			address.auth_email as email 
		FROM
			ordercenter.oc_orderinfo info  LEFT JOIN ordercenter.oc_orderadress address ON info.order_code = address.order_code
		WHERE
		    info.order_code in 
			<foreach  item="item" index="index" collection="list"  open="(" close=")" separator="," >
	          #{item}
			</foreach>  
	</select>
	
	
	<!-- 批量更新订单状态 - 2016-09-14  - Yangcl -->
	<update id="batchUpdateByOrderCode"  parameterType="java.util.List">  
      	<foreach collection="list" item="item" index="index" open="" close="" separator=";">  
            update ordercenter.oc_orderinfo  
            <set>  
              	order_status = ${item.orderStatus}
            </set>  
            	where order_code = ${item.orderCode}
     	</foreach>  
	</update> 
	
	
	<!-- 根据商户编号 开始时间和结束时间来查询一个跨境商户的待同步订单  - 201609018 - Yangcl  -->
	<select id="findExectimerOrderList" parameterType="com.hjy.dto.OrderinfoDto" resultMap="BaseResultMap">
		select 
			* 
		from
			ordercenter.oc_orderinfo
		where 
			small_seller_code = #{smallSellerCode , jdbcType=VARCHAR}
		and 
			order_status_ext = '4497153900140002' 
		and 
			order_status = '4497153900010002'   # 下单成功-未发货  即代表我平台已经付款的订单才同步过去
		and 
			update_time between #{startTime , jdbcType=VARCHAR} and #{endTime , jdbcType=VARCHAR}
	</select>
	
	
	<!-- 根据第三方平台的订单号(惠家有系统中的外部订单号)返回惠家有所有订单号   - 20161014 - Yangcl  -->
	<select id="findOrdercodeByOut" resultType="java.lang.String" parameterType="com.hjy.request.data.OrderShipmentsRequest" >
		select 
			order_code 
		from
			ordercenter.oc_orderinfo
		where 
			small_seller_code = #{sellerCode , jdbcType=VARCHAR}
		and 
			out_order_code in 
			<foreach item="item" index="index" collection="list"  open="(" separator="," close=")">
                   #{item}
            </foreach>
	</select>
	
	
	<!-- 获取跨境商户报关数据 - Yangcl -->
	<resultMap id="kjcdMap" type="com.hjy.response.KjCustomsDeclarationResponse">
	<select id="getKjCustomsDeclarationList" resultMap="kjcdMap" parameterType="com.hjy.dto.KjCustomsDeclarationDto" >
		select 
			u.seller_code as sellerCode,
			u.seller_name as sellerName,
			o.order_code as orderCode,
			o.big_order_code as bigOrderCode,
			p.bankorderid as bankOrderId,
			p.c_orderamount as orderAmount,
			p.c_moneytype as moneyType
		from
			ordercenter.oc_orderinfo o left join ordercenter.oc_payment_paygate p on o.big_order_code = p.c_order 
			left join usercenter.`uc_sellerinfo` u on o.small_seller_code = u.small_seller_code 
		where 
			o.small_seller_code in 
			<foreach item="item" index="index" collection="list"  open="(" separator="," close=")">
                   #{item}
            </foreach>
            and
            	u.seller_code = 'SI2003'       
			and 
				o.order_status = '4497153900010002'
			and 
				o.update_time between #{startTime} and #{endTime}  
	</select>
</mapper>


































