<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjy.dao.order.IOcOrderdetailDao">
	
	<resultMap id="BaseResultMap" type="com.hjy.model.order.OrderDetail">
		<id column="zid" property="zid" jdbcType="INTEGER" />
		<result column="uid" property="uid" jdbcType="CHAR" />
		<result column="order_code" property="orderCode" jdbcType="VARCHAR" />
		<result column="sku_code" property="skuCode" jdbcType="VARCHAR" />
		<result column="product_code" property="productCode" jdbcType="VARCHAR" />
		<result column="sku_name" property="skuName" jdbcType="VARCHAR" />
		<result column="sku_price" property="skuPrice" jdbcType="DECIMAL" />
		<result column="sku_num" property="skuNum" jdbcType="INTEGER" />
		<result column="product_picurl" property="productPicurl" jdbcType="VARCHAR" />
		<result column="detail_code" property="detailCode" jdbcType="VARCHAR" />
		<result column="store_code" property="storeCode" jdbcType="VARCHAR" />
		<result column="gift_flag" property="giftFlag" jdbcType="VARCHAR" />
		<result column="gift_cd" property="giftCd" jdbcType="VARCHAR" />
		<result column="save_amt" property="saveAmt" jdbcType="DECIMAL" />
		<result column="cost_price" property="costPrice" jdbcType="DECIMAL" />
		<result column="product_code_out" property="productCodeOut" jdbcType="VARCHAR" />
		<result column="group_price" property="groupPrice" jdbcType="DECIMAL" />
		<result column="coupon_price" property="couponPrice" jdbcType="DECIMAL" />
		<result column="show_price" property="showPrice" jdbcType="DECIMAL" />
		<result column="tax_rate" property="taxRate" jdbcType="DECIMAL" />
		<result column="flag_asale" property="flagAsale" jdbcType="CHAR" />
		<result column="asale_code" property="asaleCode" jdbcType="VARCHAR" />
	</resultMap>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
			*
		from ordercenter.oc_orderdetail
		where zid = #{zid,jdbcType=INTEGER}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from ordercenter.oc_orderdetail
		where zid = #{zid,jdbcType=INTEGER}
	</delete>
	
	<insert id="insertSelective" parameterType="com.hjy.model.order.OrderDetail">
		insert into ordercenter.oc_orderdetail
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="zid != null">
				zid,
			</if>
			<if test="uid != null">
				uid,
			</if>
			<if test="orderCode != null">
				order_code,
			</if>
			<if test="skuCode != null">
				sku_code,
			</if>
			<if test="productCode != null">
				product_code,
			</if>
			<if test="skuName != null">
				sku_name,
			</if>
			<if test="skuPrice != null">
				sku_price,
			</if>
			<if test="skuNum != null">
				sku_num,
			</if>
			<if test="productPicurl != null">
				product_picurl,
			</if>
			<if test="detailCode != null">
				detail_code,
			</if>
			<if test="storeCode != null">
				store_code,
			</if>
			<if test="giftFlag != null">
				gift_flag,
			</if>
			<if test="giftCd != null">
				gift_cd,
			</if>
			<if test="saveAmt != null">
				save_amt,
			</if>
			<if test="costPrice != null">
				cost_price,
			</if>
			<if test="productCodeOut != null">
				product_code_out,
			</if>
			<if test="groupPrice != null">
				group_price,
			</if>
			<if test="couponPrice != null">
				coupon_price,
			</if>
			<if test="showPrice != null">
				show_price,
			</if>
			<if test="taxRate != null">
				tax_rate,
			</if>
			<if test="flagAsale != null">
				flag_asale,
			</if>
			<if test="asaleCode != null">
				asale_code,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="zid != null">
				#{zid,jdbcType=INTEGER},
			</if>
			<if test="uid != null">
				#{uid,jdbcType=CHAR},
			</if>
			<if test="orderCode != null">
				#{orderCode,jdbcType=VARCHAR},
			</if>
			<if test="skuCode != null">
				#{skuCode,jdbcType=VARCHAR},
			</if>
			<if test="productCode != null">
				#{productCode,jdbcType=VARCHAR},
			</if>
			<if test="skuName != null">
				#{skuName,jdbcType=VARCHAR},
			</if>
			<if test="skuPrice != null">
				#{skuPrice,jdbcType=DECIMAL},
			</if>
			<if test="skuNum != null">
				#{skuNum,jdbcType=INTEGER},
			</if>
			<if test="productPicurl != null">
				#{productPicurl,jdbcType=VARCHAR},
			</if>
			<if test="detailCode != null">
				#{detailCode,jdbcType=VARCHAR},
			</if>
			<if test="storeCode != null">
				#{storeCode,jdbcType=VARCHAR},
			</if>
			<if test="giftFlag != null">
				#{giftFlag,jdbcType=VARCHAR},
			</if>
			<if test="giftCd != null">
				#{giftCd,jdbcType=VARCHAR},
			</if>
			<if test="saveAmt != null">
				#{saveAmt,jdbcType=DECIMAL},
			</if>
			<if test="costPrice != null">
				#{costPrice,jdbcType=DECIMAL},
			</if>
			<if test="productCodeOut != null">
				#{productCodeOut,jdbcType=VARCHAR},
			</if>
			<if test="groupPrice != null">
				#{groupPrice,jdbcType=DECIMAL},
			</if>
			<if test="couponPrice != null">
				#{couponPrice,jdbcType=DECIMAL},
			</if>
			<if test="showPrice != null">
				#{showPrice,jdbcType=DECIMAL},
			</if>
			<if test="taxRate != null">
				#{taxRate,jdbcType=DECIMAL},
			</if>
			<if test="flagAsale != null">
				#{flagAsale,jdbcType=CHAR},
			</if>
			<if test="asaleCode != null">
				#{asaleCode,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	
	<update id="updateSelective" parameterType="com.hjy.model.order.OrderDetail">
		update ordercenter.oc_orderdetail
		<set>
			<if test="uid != null">
				uid = #{uid,jdbcType=CHAR},
			</if>
			<if test="orderCode != null">
				order_code = #{orderCode,jdbcType=VARCHAR},
			</if>
			<if test="skuCode != null">
				sku_code = #{skuCode,jdbcType=VARCHAR},
			</if>
			<if test="productCode != null">
				product_code = #{productCode,jdbcType=VARCHAR},
			</if>
			<if test="skuName != null">
				sku_name = #{skuName,jdbcType=VARCHAR},
			</if>
			<if test="skuPrice != null">
				sku_price = #{skuPrice,jdbcType=DECIMAL},
			</if>
			<if test="skuNum != null">
				sku_num = #{skuNum,jdbcType=INTEGER},
			</if>
			<if test="productPicurl != null">
				product_picurl = #{productPicurl,jdbcType=VARCHAR},
			</if>
			<if test="detailCode != null">
				detail_code = #{detailCode,jdbcType=VARCHAR},
			</if>
			<if test="storeCode != null">
				store_code = #{storeCode,jdbcType=VARCHAR},
			</if>
			<if test="giftFlag != null">
				gift_flag = #{giftFlag,jdbcType=VARCHAR},
			</if>
			<if test="giftCd != null">
				gift_cd = #{giftCd,jdbcType=VARCHAR},
			</if>
			<if test="saveAmt != null">
				save_amt = #{saveAmt,jdbcType=DECIMAL},
			</if>
			<if test="costPrice != null">
				cost_price = #{costPrice,jdbcType=DECIMAL},
			</if>
			<if test="productCodeOut != null">
				product_code_out = #{productCodeOut,jdbcType=VARCHAR},
			</if>
			<if test="groupPrice != null">
				group_price = #{groupPrice,jdbcType=DECIMAL},
			</if>
			<if test="couponPrice != null">
				coupon_price = #{couponPrice,jdbcType=DECIMAL},
			</if>
			<if test="showPrice != null">
				show_price = #{showPrice,jdbcType=DECIMAL},
			</if>
			<if test="taxRate != null">
				tax_rate = #{taxRate,jdbcType=DECIMAL},
			</if>
			<if test="flagAsale != null">
				flag_asale = #{flagAsale,jdbcType=CHAR},
			</if>
			<if test="asaleCode != null">
				asale_code = #{asaleCode,jdbcType=VARCHAR},
			</if>
		</set>
		where zid = #{zid,jdbcType=INTEGER}
	</update>
	
	<select id="findList" resultMap="BaseResultMap" parameterType="com.hjy.model.order.OrderDetail">
		select
		 	*
		from 
			ordercenter.oc_orderdetail
		where 
			1=1 
			<if test="orderCode != null">
				and order_code = #{orderCode , jdbcType=VARCHAR} 
			</if>
	</select>
</mapper>























