<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjy.dao.order.IOcReturnMoneyDao">
	<!-- 添加新数据到退款管理表 2016-06-30 zhy -->
	<insert id="insertSelective" parameterType="com.hjy.entity.order.OcReturnMoney">
		insert into ordercenter.oc_return_money
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="zid != null">
				zid,
			</if>
			<if test="uid != null">
				uid,
			</if>
			<if test="returnGoodsCode != null">
				return_goods_code,
			</if>
			<if test="returnMoneyCode != null">
				return_money_code,
			</if>
			<if test="buyerCode != null">
				buyer_code,
			</if>
			<if test="orderCode != null">
				order_code,
			</if>
			<if test="sellerCode != null">
				seller_code,
			</if>
			<if test="contacts != null">
				contacts,
			</if>
			<if test="status != null">
				`status`,
			</if>
			<if test="returnMoney != null">
				return_money,
			</if>
			<if test="mobile != null">
				mobile,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="poundage != null">
				poundage,
			</if>
			<if test="payMethod != null">
				pay_method,
			</if>
			<if test="onlineMoney != null">
				online_money,
			</if>
			<if test="batchNo != null">
				batch_no,
			</if>
			<if test="returnConf != null">
				return_conf,
			</if>
			<if test="smallSellerCode != null">
				small_seller_code,
			</if>
			<if test="returnedMoney != null">
				returned_money,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="zid != null">
				#{zid,jdbcType=INTEGER},
			</if>
			<if test="uid != null">
				#{uid,jdbcType=CHAR},
			</if>
			<if test="returnGoodsCode != null">
				#{returnGoodsCode,jdbcType=VARCHAR},
			</if>
			<if test="returnMoneyCode != null">
				#{returnMoneyCode,jdbcType=VARCHAR},
			</if>
			<if test="buyerCode != null">
				#{buyerCode,jdbcType=VARCHAR},
			</if>
			<if test="orderCode != null">
				#{orderCode,jdbcType=VARCHAR},
			</if>
			<if test="sellerCode != null">
				#{sellerCode,jdbcType=VARCHAR},
			</if>
			<if test="contacts != null">
				#{contacts,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=VARCHAR},
			</if>
			<if test="returnMoney != null">
				#{returnMoney,jdbcType=DECIMAL},
			</if>
			<if test="mobile != null">
				#{mobile,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=VARCHAR},
			</if>
			<if test="poundage != null">
				#{poundage,jdbcType=DECIMAL},
			</if>
			<if test="payMethod != null">
				#{payMethod,jdbcType=VARCHAR},
			</if>
			<if test="onlineMoney != null">
				#{onlineMoney,jdbcType=DECIMAL},
			</if>
			<if test="batchNo != null">
				#{batchNo,jdbcType=VARCHAR},
			</if>
			<if test="returnConf != null">
				#{returnConf,jdbcType=VARCHAR},
			</if>
			<if test="smallSellerCode != null">
				#{smallSellerCode,jdbcType=VARCHAR},
			</if>
			<if test="returnedMoney != null">
				#{returnedMoney,jdbcType=DECIMAL},
			</if>
		</trim>
	</insert>
</mapper>