<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjy.dao.system.IScDefineDao">
	<resultMap id="BaseResultMap" type="com.hjy.entity.system.ScDefine">
		<id column="zid" property="zid" jdbcType="INTEGER" />
		<result column="uid" property="uid" jdbcType="CHAR" />
		<result column="define_code" property="defineCode" jdbcType="VARCHAR" />
		<result column="define_name" property="defineName" jdbcType="VARCHAR" />
		<result column="parent_code" property="parentCode" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		zid, uid, define_code, define_name, parent_code
	</sql>
	<select id="selectByDefineCode" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from systemcenter.sc_define
		where define_code = #{defineCode,jdbcType=VARCHAR}
	</select>
	<!-- 根据父编号查询系统定义集合 2016-08-18 zhy -->
	<select id="findDefineByParentCode" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from systemcenter.sc_define
		where parent_code = #{parentCode,jdbcType=VARCHAR}
	</select>
</mapper>