<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjy.dao.system.IScFlowStatuschangeDao">

	<resultMap id="BaseResultMap" type="com.hjy.entity.system.ScFlowStatuschange">
		<id column="zid" property="zid" jdbcType="INTEGER" />
		<result column="uid" property="uid" jdbcType="VARCHAR" />
		<result column="flow_type" property="flowType" jdbcType="VARCHAR" />
		<result column="from_status" property="fromStatus" jdbcType="VARCHAR" />
		<result column="to_status" property="toStatus" jdbcType="VARCHAR" />
		<result column="role_id" property="roleId" jdbcType="VARCHAR" />
		<result column="chang_status_func" property="changStatusFunc" jdbcType="VARCHAR" />
	</resultMap>
	
	 
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
			*
		from 
			sc_flow_statuschange
		where 
			zid = #{zid,jdbcType=INTEGER}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from sc_flow_statuschange where zid = #{zid,jdbcType=INTEGER}
	</delete>
	
 
	<insert id="insertSelective" parameterType="com.hjy.entity.system.ScFlowStatuschange">
		insert into sc_flow_statuschange
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="zid != null">
				zid,
			</if>
			<if test="uid != null">
				uid,
			</if>
			<if test="flowType != null">
				flow_type,
			</if>
			<if test="fromStatus != null">
				from_status,
			</if>
			<if test="toStatus != null">
				to_status,
			</if>
			<if test="roleId != null">
				role_id,
			</if>
			<if test="changStatusFunc != null">
				chang_status_func,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="zid != null">
				#{zid,jdbcType=INTEGER},
			</if>
			<if test="uid != null">
				#{uid,jdbcType=VARCHAR},
			</if>
			<if test="flowType != null">
				#{flowType,jdbcType=VARCHAR},
			</if>
			<if test="fromStatus != null">
				#{fromStatus,jdbcType=VARCHAR},
			</if>
			<if test="toStatus != null">
				#{toStatus,jdbcType=VARCHAR},
			</if>
			<if test="roleId != null">
				#{roleId,jdbcType=VARCHAR},
			</if>
			<if test="changStatusFunc != null">
				#{changStatusFunc,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	
	
	<update id="updateSelective" parameterType="com.hjy.entity.system.ScFlowStatuschange">
		update sc_flow_statuschange
		<set>
			<if test="uid != null">
				uid = #{uid,jdbcType=VARCHAR},
			</if>
			<if test="flowType != null">
				flow_type = #{flowType,jdbcType=VARCHAR},
			</if>
			<if test="fromStatus != null">
				from_status = #{fromStatus,jdbcType=VARCHAR},
			</if>
			<if test="toStatus != null">
				to_status = #{toStatus,jdbcType=VARCHAR},
			</if>
			<if test="roleId != null">
				role_id = #{roleId,jdbcType=VARCHAR},
			</if>
			<if test="changStatusFunc != null">
				chang_status_func = #{changStatusFunc,jdbcType=VARCHAR},
			</if>
		</set>
		where zid = #{zid,jdbcType=INTEGER}
	</update>
	
</mapper>









