<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjy.dao.system.IScStoreSkunumDao">

	<resultMap id="BaseResultMap" type="com.hjy.entity.system.ScStoreSkunum">
		<id column="zid" property="zid" jdbcType="INTEGER" />
		<result column="uid" property="uid" jdbcType="CHAR" />
		<result column="store_code" property="storeCode" jdbcType="VARCHAR" />
		<result column="sku_code" property="skuCode" jdbcType="VARCHAR" />
		<result column="batch_code" property="batchCode" jdbcType="VARCHAR" />
		<result column="stock_num" property="stockNum" jdbcType="DECIMAL" />
	</resultMap>

	<insert id="insertSelective" parameterType="com.hjy.entity.system.ScStoreSkunum">
		insert into systemcenter.sc_store_skunum
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="zid != null">
				zid,
			</if>
			<if test="uid != null">
				uid,
			</if>
			<if test="storeCode != null">
				store_code,
			</if>
			<if test="skuCode != null">
				sku_code,
			</if>
			<if test="batchCode != null">
				batch_code,
			</if>
			<if test="stockNum != null">
				stock_num,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="zid != null">
				#{zid,jdbcType=INTEGER},
			</if>
			<if test="uid != null">
				#{uid,jdbcType=CHAR},
			</if>
			<if test="storeCode != null">
				#{storeCode,jdbcType=VARCHAR},
			</if>
			<if test="skuCode != null">
				#{skuCode,jdbcType=VARCHAR},
			</if>
			<if test="batchCode != null">
				#{batchCode,jdbcType=VARCHAR},
			</if>
			<if test="stockNum != null">
				#{stockNum,jdbcType=DECIMAL},
			</if>
		</trim>
	</insert>
	<!-- 根据查询条件查询ScStoreSkunum对象 2016-06-28 zhy -->
	<select id="findScStoreSkunumByParams" parameterType="com.hjy.entity.system.ScStoreSkunum"
		resultMap="BaseResultMap">
		select zid, uid, store_code, sku_code, batch_code, stock_num from
		systemcenter.sc_store_skunum
		<where>
			store_code = #{storeCode,jdbcType=VARCHAR}
			AND sku_code =
			#{skuCode,jdbcType=VARCHAR}
		</where>
		ORDER BY
		zid DESC
		LIMIT 1
	</select>
	<!-- 根据zid更新信息 2016-06-28 zhy -->
	<update id="updateSelective" parameterType="com.hjy.entity.system.ScStoreSkunum">
		update systemcenter.sc_store_skunum
		<set>
			<trim suffixOverrides=",">
				<if test="storeCode != null and  storeCode != ''">
					store_code = #{storeCode,jdbcType=VARCHAR},
				</if>
				<if test="skuCode != null and  skuCode != ''">
					sku_code = #{skuCode,jdbcType=VARCHAR},
				</if>
				<if test="batchCode != null and  batchCode != ''">
					batch_code = #{batchCode,jdbcType=VARCHAR},
				</if>
				<if test="stockNum != null">
					stock_num = #{stockNum,jdbcType=DECIMAL},
				</if>
			</trim>
		</set>
		<where>
			zid = #{zid,jdbcType=INTEGER}
		</where>
	</update>

	<!-- 可以扩展if中的查询条件 - Yangcl -->
	<select id="findByType" resultMap="BaseResultMap"
		parameterType="com.hjy.entity.system.ScStoreSkunum">
		select
		* from systemcenter.sc_store_skunum
		where sku_code
		= #{skuCode ,
		jdbcType=VARCHAR}
	</select>

	<update id="updateSelectiveByUuid" parameterType="com.hjy.entity.system.ScStoreSkunum">
		update systemcenter.sc_store_skunum
		<set>
			<if test="storeCode != null and  storeCode != ''">
				store_code = #{storeCode,jdbcType=VARCHAR}
			</if>
			<if test="skuCode != null and  skuCode != ''">
				sku_code = #{skuCode,jdbcType=VARCHAR}
			</if>
			<if test="batchCode != null and  batchCode != ''">
				batch_code = #{batchCode,jdbcType=VARCHAR}
			</if>
			<if test="stockNum != null">
				stock_num = #{stockNum,jdbcType=DECIMAL}
			</if>
		</set>
		<where>
			uid = #{uid,jdbcType=INTEGER}
		</where>
	</update>
	<insert id="batchInsert" parameterType="list">
		INSERT INTO systemcenter.sc_store_skunum (
		uid,
		store_code,
		sku_code,
		batch_code,
		stock_num
		)
		VALUES
		<foreach item="item" index="index" collection="list"
			separator=",">
			(
			#{item.uid,jdbcType=VARCHAR},
			#{item.storeCode,jdbcType=VARCHAR},
			#{item.skuCode,jdbcType=VARCHAR},
			#{item.batchCode,jdbcType=VARCHAR},
			#{item.stockNum,jdbcType=DECIMAL}
			)
		</foreach>
	</insert>
	<update id="updateSelectiveBySkuCode" parameterType="com.hjy.entity.system.ScStoreSkunum">
		update systemcenter.sc_store_skunum
		<set>
			<if test="storeCode != null and  storeCode != ''">
				store_code = #{storeCode,jdbcType=VARCHAR}
			</if>
			<if test="batchCode != null and  batchCode != ''">
				batch_code = #{batchCode,jdbcType=VARCHAR}
			</if>
			<if test="stockNum != null">
				stock_num = stock_num + #{stockNum , jdbcType=DECIMAL}
			</if>
		</set>
		<where>
			sku_code = #{skuCode,jdbcType=VARCHAR}
		</where>
	</update>
	
	<!-- 根据sku_code删除一条记录|这个方法用于open-api的ApiProductServiceImpl类 - Yangcl -->
	<delete id="deleteSkuStore" parameterType="java.lang.String" > 
		delete from 
			systemcenter.sc_store_skunum
		where 
			sku_code = #{scode , jdbcType=VARCHAR}  
	</delete>
</mapper>




















