<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hjy.dao.ILcRsyncMinspcLogDao">
	
	<resultMap id="BaseResultMap" type="com.hjy.entity.LcRsyncMinspcLog">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="uid" property="uid" jdbcType="VARCHAR" />
		<result column="target" property="target" jdbcType="VARCHAR" />
		<result column="rsync_url" property="rsyncUrl" jdbcType="VARCHAR" />
		<result column="request_time" property="requestTime" jdbcType="TIMESTAMP" />
		<result column="response_time" property="responseTime" jdbcType="TIMESTAMP" />
		<result column="flag" property="flag" jdbcType="INTEGER" />
		<result column="process_num" property="processNum" jdbcType="INTEGER" />
		<result column="success_num" property="successNum" jdbcType="INTEGER" />
		<result column="request_data" property="requestData" jdbcType="LONGVARCHAR" />
		<result column="response_data" property="responseData" jdbcType="LONGVARCHAR" />
		<result column="result" property="result" jdbcType="LONGVARCHAR" />
		<result column="remark" property="remark" jdbcType="LONGVARCHAR" />
	</resultMap>
	
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
			*
		from 
			logcenter.lc_rsync_minspc_log
		where 
			id = #{id , jdbcType=INTEGER}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from logcenter.lc_rsync_minspc_log where id = #{id,jdbcType=INTEGER}
	</delete>
	
	
	<insert id="insertSelective" parameterType="com.hjy.entity.LcRsyncMinspcLog">
		insert into logcenter.lc_rsync_minspc_log
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="uid != null">
				uid,
			</if>
			<if test="target != null">
				target,
			</if>
			<if test="rsyncUrl != null">
				rsync_url,
			</if>
			<if test="requestTime != null">
				request_time,
			</if>
			<if test="responseTime != null">
				response_time,
			</if>
			<if test="flag != null">
				flag,
			</if>
			<if test="processNum != null">
				process_num,
			</if>
			<if test="successNum != null">
				success_num,
			</if>
			<if test="requestData != null">
				request_data,
			</if>
			<if test="responseData != null">
				response_data,
			</if>
			<if test="result != null">
				result,
			</if>
			<if test="remark != null">
				remark,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="uid != null">
				#{uid,jdbcType=VARCHAR},
			</if>
			<if test="target != null">
				#{target,jdbcType=VARCHAR},
			</if>
			<if test="rsyncUrl != null">
				#{rsyncUrl,jdbcType=VARCHAR},
			</if>
			<if test="requestTime != null">
				#{requestTime,jdbcType=TIMESTAMP},
			</if>
			<if test="responseTime != null">
				#{responseTime,jdbcType=TIMESTAMP},
			</if>
			<if test="flag != null">
				#{flag,jdbcType=INTEGER},
			</if>
			<if test="processNum != null">
				#{processNum,jdbcType=INTEGER},
			</if>
			<if test="successNum != null">
				#{successNum,jdbcType=INTEGER},
			</if>
			<if test="requestData != null">
				#{requestData,jdbcType=LONGVARCHAR},
			</if>
			<if test="responseData != null">
				#{responseData,jdbcType=LONGVARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=LONGVARCHAR},
			</if>
			<if test="result != null">
				#{result , jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	
	
	<update id="updateSelective" parameterType="com.hjy.entity.LcRsyncMinspcLog">
		update logcenter.lc_rsync_minspc_log
		<set>
			<if test="uid != null">
				uid = #{uid,jdbcType=VARCHAR},
			</if>
			<if test="target != null">
				target = #{target,jdbcType=VARCHAR},
			</if>
			<if test="rsyncUrl != null">
				rsync_url = #{rsyncUrl,jdbcType=VARCHAR},
			</if>
			<if test="requestTime != null">
				request_time = #{requestTime,jdbcType=TIMESTAMP},
			</if>
			<if test="responseTime != null">
				response_time = #{responseTime,jdbcType=TIMESTAMP},
			</if>
			<if test="flag != null">
				flag = #{flag,jdbcType=INTEGER},
			</if>
			<if test="processNum != null">
				process_num = #{processNum,jdbcType=INTEGER},
			</if>
			<if test="successNum != null">
				success_num = #{successNum,jdbcType=INTEGER},
			</if>
			<if test="requestData != null">
				request_data = #{requestData,jdbcType=LONGVARCHAR},
			</if>
			<if test="responseData != null">
				response_data = #{responseData,jdbcType=LONGVARCHAR},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=LONGVARCHAR},
			</if>
			<if test="result != null">
				result = #{result , jdbcType=LONGVARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	
	
	
</mapper>
















