<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjy.dao.ILcRsyncMinspcProductDao">

	<resultMap id="BaseResultMap" type="com.hjy.entity.LcRsyncMinspcProduct">
		<id column="zid" property="zid" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="response_json" property="responseJson" jdbcType="LONGVARCHAR" />
		<result column="success_list" property="successList" jdbcType="LONGVARCHAR" />
		<result column="error_list" property="errorList" jdbcType="LONGVARCHAR" />
	</resultMap>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
			*
		from 
			lc_rsync_minspc_product
		where 
			zid = #{zid , jdbcType=INTEGER}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from lc_rsync_minspc_product where zid = #{zid,jdbcType=INTEGER}
	</delete>
	
	<insert id="insertSelective" parameterType="com.hjy.entity.LcRsyncMinspcProduct">
		insert into lc_rsync_minspc_product
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="zid != null">
				zid,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="responseJson != null">
				response_json,
			</if>
			<if test="successList != null">
				success_list,
			</if>
			<if test="errorList != null">
				error_list,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="zid != null">
				#{zid,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="responseJson != null">
				#{responseJson,jdbcType=LONGVARCHAR},
			</if>
			<if test="successList != null">
				#{successList,jdbcType=LONGVARCHAR},
			</if>
			<if test="errorList != null">
				#{errorList,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	
	<update id="updateSelective" parameterType="com.hjy.entity.LcRsyncMinspcProduct">
		update lc_rsync_minspc_product
		<set>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="responseJson != null">
				response_json = #{responseJson,jdbcType=LONGVARCHAR},
			</if>
			<if test="successList != null">
				success_list = #{successList,jdbcType=LONGVARCHAR},
			</if>
			<if test="errorList != null">
				error_list = #{errorList,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where zid = #{zid,jdbcType=INTEGER}
	</update>
	
</mapper>
















