<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjy.dao.zapdata.IZaWeblogDao">
	<insert id="insertSelective" parameterType="com.hjy.entity.zapdata.ZaWeblog">
		INSERT INTO za_weblog (
		uid,
		log_type,
		log_title,
		log_content,
		create_time
		)
		VALUES
		(
		#{uid,jdbcType=VARCHAR},
		#{logType,jdbcType=VARCHAR},
		#{logTitle,jdbcType=VARCHAR},
		#{logContent,jdbcType=VARCHAR},
		#{createTime,jdbcType=VARCHAR}
		)
	</insert>
</mapper>