<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjy.dao.webcore.IWcSellerinfoDao">
	<resultMap id="BaseResultMap" type="com.hjy.entity.webcore.WcSellerinfo">
		<id column="zid" property="zid" jdbcType="INTEGER" />
		<result column="uid" property="uid" jdbcType="CHAR" />
		<result column="seller_code" property="sellerCode" jdbcType="VARCHAR" />
		<result column="seller_name" property="sellerName" jdbcType="VARCHAR" />
		<result column="seller_short_name" property="sellerShortName"
			jdbcType="VARCHAR" />
		<result column="seller_descrption" property="sellerDescrption"
			jdbcType="VARCHAR" />
		<result column="seller_area" property="sellerArea" jdbcType="VARCHAR" />
		<result column="seller_telephone" property="sellerTelephone"
			jdbcType="VARCHAR" />
		<result column="seller_return_address" property="sellerReturnAddress"
			jdbcType="VARCHAR" />
		<result column="seller_return_postcode" property="sellerReturnPostcode"
			jdbcType="VARCHAR" />
		<result column="seller_return_contact" property="sellerReturnContact"
			jdbcType="VARCHAR" />
		<result column="seller_return_telephone" property="sellerReturnTelephone"
			jdbcType="VARCHAR" />
		<result column="seller_company_name" property="sellerCompanyName"
			jdbcType="VARCHAR" />
		<result column="seller_email" property="sellerEmail" jdbcType="VARCHAR" />
		<result column="seller_type" property="sellerType" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="price_type" property="priceType" jdbcType="INTEGER" />
		<result column="commission" property="commission" jdbcType="VARCHAR" />
		<result column="creator" property="creator" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="updator" property="updator" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="flow_status" property="flowStatus" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		zid, uid, seller_code, seller_name, seller_short_name,
		seller_descrption,
		seller_area, seller_telephone,
		seller_return_address, seller_return_postcode,
		seller_return_contact,
		seller_return_telephone, seller_company_name, seller_email,
		seller_type,`status`,
		price_type,commission,
		creator, create_time,
		updator, update_time
	</sql>
	<select id="selectBySellerCode" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from wc_sellerinfo
		where seller_code = #{sellerCode,jdbcType=VARCHAR}
	</select>
	<!-- 查询商户信息列表 2016-08-17 zhy -->
	<select id="queryPage" resultMap="BaseResultMap"
		parameterType="com.hjy.entity.webcore.WcSellerinfo">
		select
		<include refid="Base_Column_List" />
		from wc_sellerinfo
		<where>
			1=1
			<if test="sellerCode != null and sellerCode != '' ">
				AND seller_code = #{sellerCode,jdbcType=VARCHAR}
			</if>
			<if test="sellerName != null and sellerName != ''">
				AND seller_name LIKE
				CONCAT('%',#{sellerName,jdbcType=VARCHAR},'%')
			</if>
		</where>
	</select>
	<!-- 根据商户编号查询已开通openapi的商户信息 2016-08-18 zhy -->
	<select id="selectBySellerCodeByApi" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from wc_sellerinfo
		where seller_code = #{sellerCode,jdbcType=VARCHAR}
		AND `status` = 1
	</select>
	<delete id="deleteBySellerCode" parameterType="java.lang.String">
		delete from
		wc_sellerinfo
		where seller_code = #{sellerCode,jdbcType=VARCHAR}
	</delete>
	<insert id="insertSelective" parameterType="com.hjy.entity.webcore.WcSellerinfo">
		insert into wc_sellerinfo
		<trim prefix="(" suffix=")" suffixOverrides=",">
			uid,
			seller_code,
			seller_name,
			seller_short_name,
			<if test="sellerDescrption != null">
				seller_descrption,
			</if>
			seller_area,
			seller_telephone,
			seller_return_address,
			seller_return_postcode,
			seller_return_contact,
			seller_return_telephone,
			seller_company_name,
			seller_email,
			<if test="sellerType != null">
				seller_type,
			</if>
			price_type,
			commission,
			creator,
			create_time,
			updator,
			update_time,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{uid,jdbcType=CHAR},
			#{sellerCode,jdbcType=VARCHAR},
			#{sellerName,jdbcType=VARCHAR},
			#{sellerShortName,jdbcType=VARCHAR},
			<if test="sellerDescrption != null">
				#{sellerDescrption,jdbcType=VARCHAR},
			</if>
			#{sellerArea,jdbcType=VARCHAR},
			#{sellerTelephone,jdbcType=VARCHAR},
			#{sellerReturnAddress,jdbcType=VARCHAR},
			#{sellerReturnPostcode,jdbcType=VARCHAR},
			#{sellerReturnContact,jdbcType=VARCHAR},
			#{sellerReturnTelephone,jdbcType=VARCHAR},
			#{sellerCompanyName,jdbcType=VARCHAR},
			#{sellerEmail,jdbcType=VARCHAR},
			<if test="sellerType != null">
				#{sellerType,jdbcType=VARCHAR},
			</if>
			#{priceType,jdbcType=INTEGER},
			#{commission,jdbcType=VARCHAR},
			#{creator,jdbcType=VARCHAR},
			#{createTime,jdbcType=TIMESTAMP},
			#{updator,jdbcType=VARCHAR},
			#{updateTime,jdbcType=TIMESTAMP},
		</trim>
	</insert>
	<update id="updateSelective" parameterType="com.hjy.entity.webcore.WcSellerinfo">
		update wc_sellerinfo
		<set>
			<if test="sellerName != null">
				seller_name = #{sellerName,jdbcType=VARCHAR},
			</if>
			<if test="sellerShortName != null">
				seller_short_name = #{sellerShortName,jdbcType=VARCHAR},
			</if>
			<if test="sellerDescrption != null">
				seller_descrption = #{sellerDescrption,jdbcType=VARCHAR},
			</if>
			<if test="sellerArea != null">
				seller_area = #{sellerArea,jdbcType=VARCHAR},
			</if>
			<if test="sellerTelephone != null">
				seller_telephone = #{sellerTelephone,jdbcType=VARCHAR},
			</if>
			<if test="sellerReturnAddress != null">
				seller_return_address =
				#{sellerReturnAddress,jdbcType=VARCHAR},
			</if>
			<if test="sellerReturnPostcode != null">
				seller_return_postcode =
				#{sellerReturnPostcode,jdbcType=VARCHAR},
			</if>
			<if test="sellerReturnContact != null">
				seller_return_contact =
				#{sellerReturnContact,jdbcType=VARCHAR},
			</if>
			<if test="sellerReturnTelephone != null">
				seller_return_telephone =
				#{sellerReturnTelephone,jdbcType=VARCHAR},
			</if>
			<if test="sellerCompanyName != null">
				seller_company_name =
				#{sellerCompanyName,jdbcType=VARCHAR},
			</if>
			<if test="sellerEmail != null">
				seller_email = #{sellerEmail,jdbcType=VARCHAR},
			</if>
			<if test="sellerType != null">
				seller_type = #{sellerType,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				`status` = #{status,jdbcType=INTEGER},
			</if>
			<if test="priceType != null">
				price_type = #{priceType,jdbcType=INTEGER},
			</if>
			<if test="commission != null and commission != ''">
				commission = #{commission,jdbcType=VARCHAR},
			</if>
			<if test="updator != null">
				updator = #{updator,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where seller_code = #{sellerCode,jdbcType=VARCHAR}
	</update>

</mapper>