<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjy.dao.webcore.IWcSellerApiDao">
	<resultMap id="BaseResultMap" type="com.hjy.entity.webcore.WcSellerApi">
		<id column="zid" property="zid" jdbcType="INTEGER" />
		<result column="uid" property="uid" jdbcType="CHAR" />
		<result column="seller_code" property="sellerCode" jdbcType="VARCHAR" />
		<result column="api_code" property="apiCode" jdbcType="VARCHAR" />
		<result column="creator" property="creator" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="Base_Column_List">
		zid, uid, seller_code, api_code, creator,
		DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%s') AS create_time
	</sql>
	
	<select id="selectBySellerCode" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
			*
		from 
			wc_seller_api
		where 
			seller_code = #{sellerCode,jdbcType=INTEGER}
	</select>
	
	<delete id="deleteBySellerCode" parameterType="java.lang.Integer">
		delete from
		wc_seller_api
		where seller_code = #{sellerCode,jdbcType=INTEGER}
	</delete>
	
	<insert id="insertSelective" parameterType="com.hjy.entity.webcore.WcSellerApi">
		insert into wc_seller_api
		<trim prefix="(" suffix=")" suffixOverrides=",">
			uid,
			seller_code,
			api_code,
			creator,
			create_time
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{uid,jdbcType=CHAR},
			#{sellerCode,jdbcType=VARCHAR},
			#{apiCode,jdbcType=VARCHAR},
			#{creator,jdbcType=VARCHAR},
			STR_TO_DATE(#{createTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s'),
			#{updator,jdbcType=VARCHAR},
			STR_TO_DATE(#{updateTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s'),
			#{type , jdbcType=INTEGER},
		</trim>
	</insert>
	
	<select id="queryPage" resultMap="BaseResultMap" parameterType="com.hjy.entity.webcore.WcSellerApi">
		select
			*
		from 
			webcore.wc_seller_api
		<where>
			1=1
			<if test="sellerCode != null and sellerCode != '' ">
				and seller_code = #{sellerCode,jdbcType=VARCHAR}
			</if> 
		</where>
	</select>
</mapper>













