<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjy.dao.webcore.IWcSellerinfoDao">
	<resultMap id="BaseResultMap" type="com.hjy.entity.webcore.WcSellerinfo">
		<id column="zid" property="zid" jdbcType="INTEGER" />
		<result column="uid" property="uid" jdbcType="CHAR" />
		<result column="seller_code" property="sellerCode" jdbcType="VARCHAR" />
		<result column="seller_name" property="sellerName" jdbcType="VARCHAR" />
		<result column="seller_telephone" property="sellerTelephone" jdbcType="VARCHAR" />
		<result column="seller_descrption" property="sellerDescrption" jdbcType="LONGVARCHAR" />
		<result column="seller_email" property="sellerEmail" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="price_type" property="priceType" jdbcType="INTEGER" />
		<result column="commission" property="commission" jdbcType="LONGVARCHAR" />
		<result column="creator" property="creator" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="updator" property="updator" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="flag" property="flag" jdbcType="INTEGER" />
	    <result column="seller_custom_number" property="sellerCustomNumber" jdbcType="VARCHAR" />
	    <result column="seller_custom_location" property="sellerCustomLocation" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="Base_Column_List">
		zid, uid, seller_code, seller_name,seller_descrption,
		seller_telephone,
		seller_email, status, price_type, commission,
		creator,
		DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%s') AS create_time,
		updator,
		DATE_FORMAT(update_time,'%Y-%m-%d %H:%i:%s') AS update_time
	</sql>
	<select id="selectBySellerCode" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from
		webcore.wc_sellerinfo
		where
		seller_code =
		#{sellerCode,jdbcType=VARCHAR}
	</select>

	<!-- 查询商户信息列表 2016-08-17 zhy -->
	<select id="queryPage" resultMap="BaseResultMap"
		parameterType="com.hjy.entity.webcore.WcSellerinfo">
		select
		<include refid="Base_Column_List" />
		from webcore.wc_sellerinfo
		<where>
			1=1
			<if test="sellerCode != null and sellerCode != '' ">
				AND seller_code = #{sellerCode,jdbcType=VARCHAR}
			</if>
			<if test="sellerName != null and sellerName != ''">
				AND seller_name LIKE
				CONCAT('%',#{sellerName,jdbcType=VARCHAR},'%')
			</if>
		</where>
	</select>

	<!-- 根据商户编号查询已开通openapi的商户信息 2016-08-18 zhy -->
	<select id="selectBySellerCodeByApi" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from
		webcore.wc_sellerinfo
		where
		seller_code =
		#{sellerCode,jdbcType=VARCHAR}
		AND `status` = 1
	</select>

	<delete id="deleteBySellerCode" parameterType="java.lang.String">
		delete from
		webcore.wc_sellerinfo
		where
		seller_code = #{sellerCode,jdbcType=VARCHAR}
	</delete>

	<insert id="insertSelective" parameterType="com.hjy.entity.webcore.WcSellerinfo">
		insert into webcore.wc_sellerinfo
		<trim prefix="(" suffix=")" suffixOverrides=",">
			uid,
			seller_code,
			seller_name,
			<if test="sellerDescrption != null">
				seller_descrption,
			</if>
			seller_telephone,
			seller_email,
			price_type,
			commission,
			creator,
			create_time,
			updator,
			update_time,
			type,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{uid,jdbcType=CHAR},
			#{sellerCode,jdbcType=VARCHAR},
			#{sellerName,jdbcType=VARCHAR},
			<if test="sellerDescrption != null">
				#{sellerDescrption,jdbcType=VARCHAR},
			</if>
			#{sellerTelephone,jdbcType=VARCHAR},
			#{sellerEmail,jdbcType=VARCHAR},
			#{priceType,jdbcType=INTEGER},
			#{commission,jdbcType=VARCHAR},
			#{creator,jdbcType=VARCHAR},
			STR_TO_DATE(#{createTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s'),
			#{updator,jdbcType=VARCHAR},
			STR_TO_DATE(#{updateTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s'),
			#{type , jdbcType=INTEGER},
		</trim>
	</insert>

	<update id="updateSelective" parameterType="com.hjy.entity.webcore.WcSellerinfo">
		update webcore.wc_sellerinfo
		<set>
			<if test="sellerName != null">
				seller_name = #{sellerName,jdbcType=VARCHAR},
			</if>
			<if test="sellerDescrption != null">
				seller_descrption = #{sellerDescrption,jdbcType=VARCHAR},
			</if>
			<if test="sellerTelephone != null">
				seller_telephone = #{sellerTelephone,jdbcType=VARCHAR},
			</if>
			<if test="sellerEmail != null">
				seller_email = #{sellerEmail,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				`status` = #{status,jdbcType=INTEGER},
			</if>
			<if test="priceType != null">
				price_type = #{priceType,jdbcType=INTEGER},
			</if>
			<if test="commission != null and commission != ''">
				commission = #{commission,jdbcType=VARCHAR},
			</if>
			updator = #{updator,jdbcType=VARCHAR},
			update_time =
			STR_TO_DATE(#{updateTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s'),
			<if test="type != null">
				`type` = #{type , jdbcType=INTEGER},
			</if>
		</set>
		where seller_code = #{sellerCode,jdbcType=VARCHAR}
	</update>
	
	
	<!-- 获取惠家有要进行报关的商户列表 - Yangcl -->
	<select id="getCustomsDeclarationSellerList" resultMap="BaseResultMap">
		select
			*
		from
			webcore.wc_sellerinfo
		where
			status = 1
		and 
			type = 1
		and 
			flag = 1 
	</select>
</mapper>


















