<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjy.dao.webcore.IWcSellerinfoDao">
	<resultMap id="BaseResultMap" type="com.hjy.entity.webcore.WcSellerinfo">
		<id column="zid" property="zid" jdbcType="INTEGER" />
		<result column="uid" property="uid" jdbcType="CHAR" />
		<result column="seller_code" property="sellerCode" jdbcType="VARCHAR" />
		<result column="seller_name" property="sellerName" jdbcType="VARCHAR" />
		<result column="seller_telephone" property="sellerTelephone" jdbcType="VARCHAR" />
		<result column="seller_descrption" property="sellerDescrption" jdbcType="LONGVARCHAR" />
		<result column="seller_email" property="sellerEmail" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="price_type" property="priceType" jdbcType="INTEGER" />
		<result column="commission" property="commission" jdbcType="LONGVARCHAR" />
		<result column="creator" property="creator" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="updator" property="updator" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="flag" property="flag" jdbcType="INTEGER" />
	    <result column="seller_custom_number" property="sellerCustomNumber" jdbcType="VARCHAR" />
	    <result column="seller_custom_location" property="sellerCustomLocation" jdbcType="VARCHAR" />
	</resultMap>
	
 
	<select id="selectBySellerCode" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
			*
		from
			webcore.wc_sellerinfo
		where
			seller_code = #{sellerCode,jdbcType=VARCHAR}
	</select>

	<!-- 查询商户信息列表 2016-08-17 zhy -->
	<select id="queryPage" resultMap="BaseResultMap" parameterType="com.hjy.entity.webcore.WcSellerinfo">
		select
			*
		from 
			webcore.wc_sellerinfo
		<where>
			1=1
			<if test="sellerCode != null and sellerCode != '' ">
				AND seller_code = #{sellerCode,jdbcType=VARCHAR}
			</if>
			<if test="sellerName != null and sellerName != ''">
				AND seller_name LIKE CONCAT('%',#{sellerName,jdbcType=VARCHAR},'%')
			</if>
		</where>
	</select>

	<!-- 根据商户编号查询已开通openapi的商户信息 2016-08-18 zhy -->
	<select id="selectBySellerCodeByApi" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
			*
		from
			webcore.wc_sellerinfo
		where
			seller_code = #{sellerCode,jdbcType=VARCHAR} and `status` = 1
	</select>

	<delete id="deleteBySellerCode" parameterType="java.lang.String">
		delete 
			from webcore.wc_sellerinfo
		where
			seller_code = #{sellerCode,jdbcType=VARCHAR}
	</delete>
 
	<insert id="insertSelective" parameterType="com.hjy.entity.webcore.WcSellerinfo" >
	    insert into webcore.wc_sellerinfo 
	    <trim prefix="(" suffix=")" suffixOverrides="," >
	      <if test="zid != null" >
	        zid,
	      </if>
	      <if test="uid != null" >
	        uid,
	      </if>
	      <if test="sellerCode != null" >
	        seller_code,
	      </if>
	      <if test="sellerName != null" >
	        seller_name,
	      </if>
	      <if test="sellerTelephone != null" >
	        seller_telephone,
	      </if>
	      <if test="sellerEmail != null" >
	        seller_email,
	      </if>
	      <if test="status != null" >
	        status,
	      </if>
	      <if test="priceType != null" >
	        price_type,
	      </if>
	      <if test="creator != null" >
	        creator,
	      </if>
	      <if test="createTime != null" >
	        create_time,
	      </if>
	      <if test="updator != null" >
	        updator,
	      </if>
	      <if test="updateTime != null" >
	        update_time,
	      </if>
	      <if test="type != null" >
	        type,
	      </if>
	      <if test="flag != null" >
	        flag,
	      </if>
	      <if test="sellerCustomNumber != null" >
	        seller_custom_number,
	      </if>
	      <if test="sellerCustomLocation != null" >
	        seller_custom_location,
	      </if>
	      <if test="sellerDescrption != null" >
	        seller_descrption,
	      </if>
	      <if test="commission != null" >
	        commission,
	      </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides="," >
	      <if test="zid != null" >
	        #{zid,jdbcType=INTEGER},
	      </if>
	      <if test="uid != null" >
	        #{uid,jdbcType=CHAR},
	      </if>
	      <if test="sellerCode != null" >
	        #{sellerCode,jdbcType=VARCHAR},
	      </if>
	      <if test="sellerName != null" >
	        #{sellerName,jdbcType=VARCHAR},
	      </if>
	      <if test="sellerTelephone != null" >
	        #{sellerTelephone,jdbcType=VARCHAR},
	      </if>
	      <if test="sellerEmail != null" >
	        #{sellerEmail,jdbcType=VARCHAR},
	      </if>
	      <if test="status != null" >
	        #{status,jdbcType=INTEGER},
	      </if>
	      <if test="priceType != null" >
	        #{priceType,jdbcType=INTEGER},
	      </if>
	      <if test="creator != null" >
	        #{creator,jdbcType=VARCHAR},
	      </if>
	      <if test="createTime != null" >
	        #{createTime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="updator != null" >
	        #{updator,jdbcType=VARCHAR},
	      </if>
	      <if test="updateTime != null" >
	        #{updateTime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="type != null" >
	        #{type,jdbcType=INTEGER},
	      </if>
	      <if test="flag != null" >
	        #{flag,jdbcType=INTEGER},
	      </if>
	      <if test="sellerCustomNumber != null" >
	        #{sellerCustomNumber,jdbcType=VARCHAR},
	      </if>
	      <if test="sellerCustomLocation != null" >
	        #{sellerCustomLocation,jdbcType=VARCHAR},
	      </if>
	      <if test="sellerDescrption != null" >
	        #{sellerDescrption,jdbcType=LONGVARCHAR},
	      </if>
	      <if test="commission != null" >
	        #{commission,jdbcType=LONGVARCHAR},
	      </if>
	    </trim>
	  </insert>

	<update id="updateSelective" parameterType="com.hjy.entity.webcore.WcSellerinfo" >
	    update webcore.wc_sellerinfo
	    <set >  
	      <if test="sellerName != null" >
	        seller_name = #{sellerName,jdbcType=VARCHAR},
	      </if>
	      <if test="sellerDescrption != null" >
	        seller_descrption = #{sellerDescrption , jdbcType=LONGVARCHAR},
	      </if>
	      <if test="sellerTelephone != null" >
	        seller_telephone = #{sellerTelephone,jdbcType=VARCHAR},
	      </if>
	      <if test="sellerEmail != null" >
	        seller_email = #{sellerEmail,jdbcType=VARCHAR},
	      </if>
	      <if test="status != null" >
	        status = #{status,jdbcType=INTEGER},
	      </if>
	      <if test="priceType != null" >
	        price_type = #{priceType,jdbcType=INTEGER},
	      </if> 
	      <if test="commission != null" >
	        commission = #{commission , jdbcType=LONGVARCHAR},
	      </if>
	      <if test="updator != null" >
	        updator = #{updator,jdbcType=VARCHAR},
	      </if>
	      <if test="updateTime != null" >
	        update_time = #{updateTime,jdbcType=TIMESTAMP},
	      </if> 
	      <if test="flag != null" >
	        flag = #{flag,jdbcType=INTEGER},
	      </if>
	      <if test="sellerCustomNumber != null" >
	        seller_custom_number = #{sellerCustomNumber,jdbcType=VARCHAR},
	      </if>
	      <if test="sellerCustomLocation != null" >
	        seller_custom_location = #{sellerCustomLocation,jdbcType=VARCHAR},
	      </if>
	    </set>
	    where seller_code = #{sellerCode,jdbcType=VARCHAR}
	  </update>
	
	<!-- 获取惠家有要进行报关的商户列表 - Yangcl -->
	<select id="getCustomsDeclarationSellerList" resultMap="BaseResultMap">
		select
			*
		from
			webcore.wc_sellerinfo
		where
			status = 1
		and 
			type = 1
		and 
			flag = 1 
	</select>
</mapper>


















