<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjy.dao.api.IApiProductInfoDao">
	<insert id="insert" parameterType="com.hjy.entity.product.PcProductinfo">
		INSERT INTO
		productcenter.pc_productinfo (
		uid,
		product_code,
		product_code_old,
		product_code_copy,
		product_name,
		product_shortname,
		seller_code,
		small_seller_code,
		product_weight,
		cost_price,
		market_price,
		mainpic_url,
		product_volume_item,
		product_volume,
		product_adv,
		adpic_url,
		expiry_date,
		expiry_unit,
		create_time,
		update_time,
		labels,
		min_sell_price,
		max_sell_price
		)
		VALUES
		(
		#{uid,jdbcType=VARCHAR},
		#{productCode,jdbcType=VARCHAR},
		#{productCodeOld,jdbcType=VARCHAR},
		#{productCodeCopy,jdbcType=VARCHAR},
		#{productName,jdbcType=VARCHAR},
		#{productShortname,jdbcType=VARCHAR},
		#{sellerCode,jdbcType=VARCHAR},
		#{smallSellerCode,jdbcType=VARCHAR},
		#{productWeight,jdbcType=DECIMAL},
		#{costPrice,jdbcType=VARCHAR},
		#{marketPrice,jdbcType=DECIMAL},
		#{mainpicUrl,jdbcType=VARCHAR},
		#{productVolumeItem,jdbcType=VARCHAR},
		#{productVolume,jdbcType=DECIMAL},
		#{productAdv,jdbcType=VARCHAR},
		#{adpicUrl,jdbcType=VARCHAR},
		#{expiryDate,jdbcType=VARCHAR},
		#{expiryUnit,jdbcType=VARCHAR},
		#{createTime,jdbcType=VARCHAR},
		#{updateTime,jdbcType=VARCHAR},
		#{labels,jdbcType=VARCHAR},
		#{minSellPrice,jdbcType=DECIMAL},
		#{maxSellPrice,jdbcType=DECIMAL}
		)
	</insert>
	<insert id="batchInsert" parameterType="list">
		INSERT INTO productcenter.pc_productinfo (
		uid,
		product_code,
		product_code_old,
		product_code_copy,
		product_name,
		product_shortname,
		seller_code,
		small_seller_code,
		product_weight,
		cost_price,
		market_price,
		mainpic_url,
		product_volume_item,
		product_volume,
		product_adv,
		adpic_url,
		expiry_date,
		expiry_unit,
		create_time,
		update_time,
		labels,
		min_sell_price,
		max_sell_price
		)
		VALUES
		<foreach item="item" index="index" collection="list"
			separator=",">
			(
			#{item.uid,jdbcType=VARCHAR},
			#{item.productCode,jdbcType=VARCHAR},
			#{item.productCodeOld,jdbcType=VARCHAR},
			#{item.productCodeCopy,jdbcType=VARCHAR},
			#{item.productName,jdbcType=VARCHAR},
			#{item.productShortname,jdbcType=VARCHAR},
			#{item.sellerCode,jdbcType=VARCHAR},
			#{item.smallSellerCode,jdbcType=VARCHAR},
			#{item.productWeight,jdbcType=DECIMAL},
			#{item.costPrice,jdbcType=VARCHAR},
			#{item.marketPrice,jdbcType=DECIMAL},
			#{item.mainpicUrl,jdbcType=VARCHAR},
			#{item.productVolumeItem,jdbcType=VARCHAR},
			#{item.productVolume,jdbcType=DECIMAL},
			#{item.productAdv,jdbcType=VARCHAR},
			#{item.adpicUrl,jdbcType=VARCHAR},
			#{item.expiryDate,jdbcType=VARCHAR},
			#{item.expiryUnit,jdbcType=VARCHAR},
			#{item.createTime,jdbcType=VARCHAR},
			#{item.updateTime,jdbcType=VARCHAR},
			#{item.labels,jdbcType=VARCHAR},
			#{item.minSellPrice,jdbcType=DECIMAL},
			#{item.maxSellPrice,jdbcType=DECIMAL}
			)
		</foreach>
	</insert>
	<update id="updateProductByProductCodeOld" parameterType="com.hjy.entity.product.PcProductinfo">
		update productcenter.pc_productinfo
		<set>
			<if test="productName != null and productName != '' ">
				product_name = #{productName,jdbcType=VARCHAR},
			</if>
			<if test="productShortname != null and productShortname != '' ">
				product_shortname = #{productShortname,jdbcType=VARCHAR},
			</if>
			<if test="productWeight != null ">
				product_weight = #{productWeight,jdbcType=DECIMAL},
			</if>
			<if test="costPrice != null">
				cost_price = #{costPrice,jdbcType=DECIMAL},
			</if>
			<if test="marketPrice != null">
				market_price = #{marketPrice,jdbcType=DECIMAL},
			</if>
			<if test="mainpicUrl != null and mainpicUrl != '' ">
				mainpic_url = #{mainpicUrl,jdbcType=VARCHAR},
			</if>
			<if test="productVolumeItem != null and productVolumeItem != '' ">
				product_volume_item
				=#{productVolumeItem,jdbcType=VARCHAR},
			</if>
			<if test="productVolume != null ">
				product_volume = #{productVolume,jdbcType=DECIMAL},
			</if>
			<if test="productAdv != null and productAdv != '' ">
				product_adv = #{productAdv,jdbcType=LONGVARCHAR},
			</if>
			<if test="labels != null and labels != '' ">
				labels = #{labels,jdbcType=VARCHAR},
			</if>
			<if test="adpicUrl != null and adpicUrl != '' ">
				adpic_url = #{adpicUrl,jdbcType=VARCHAR},
			</if>
			<if test="expiryDate != null ">
				expiry_date = #{expiryDate,jdbcType=INTEGER},
			</if>
			<if test="expiryUnit != null and expiryUnit != '' ">
				expiry_unit = #{expiryUnit,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null and updateTime != '' ">
				update_time = #{updateTime,jdbcType=CHAR},
			</if>
			<if test="minSellPrice != null ">
				min_sell_price = #{minSellPrice,jdbcType=DECIMAL},
			</if>
			<if test="maxSellPrice != null">
				max_sell_price = #{maxSellPrice,jdbcType=DECIMAL},
			</if>
		</set>
		<where>
			product_code_old = #{productCodeOld,jdbcType=VARCHAR}
		</where>
	</update>
	<!-- 修改商品价格 -->
	<update id="updateProductPrice" parameterType="com.hjy.entity.product.PcProductinfo">
		update productcenter.pc_productinfo
		<set>
			<if test="costPrice != null">
				cost_price = #{costPrice,jdbcType=DECIMAL},
			</if>
			<if test="marketPrice != null">
				market_price = #{marketPrice,jdbcType=DECIMAL},
			</if>
			<if test="updateTime != null and updateTime != '' ">
				update_time = #{updateTime,jdbcType=CHAR},
			</if>
			<if test="minSellPrice != null ">
				min_sell_price = #{minSellPrice,jdbcType=DECIMAL},
			</if>
			<if test="maxSellPrice != null">
				max_sell_price = #{maxSellPrice,jdbcType=DECIMAL},
			</if>
		</set>
		<where>
			product_code_old = #{productCodeOld,jdbcType=VARCHAR}
		</where>
	</update>
	<!-- 根据外部商品编号查询惠家有商品编号 2016-08-08 zhy -->
	<select id="findProductCodeByOutCode" parameterType="java.lang.String"
		resultType="java.lang.String">
		SELECT
		product_code
		FROM
		productcenter.pc_productinfo
		WHERE
		product_code_old = #{productCodeOld,jdbcType=VARCHAR}
	</select>
</mapper>