<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjy.dao.api.IApiSkuInfoDao">
	<insert id="batchInsert" parameterType="list">
		INSERT INTO productcenter.pc_skuinfo (
		uid,
		product_code,
		product_code_old,
		sell_productcode,
		sku_code,
		sku_code_old,
		sku_name,
		sku_picurl,
		sku_adv,
		seller_code,
		sell_price,
		market_price,
		cost_price,
		security_stock_num,
		stock_num,
		qrcode_link,
		mini_order
		)
		VALUES
		<foreach item="item" index="index" collection="list"
			separator=",">
			(
			#{item.uid,jdbcType=VARCHAR},
			#{item.productCode,jdbcType=VARCHAR},
			#{item.productCodeOld,jdbcType=VARCHAR},
			#{item.sellProductcode,jdbcType=VARCHAR},
			#{item.skuCode,jdbcType=VARCHAR},
			#{item.skuCodeOld,jdbcType=VARCHAR},
			#{item.skuName,jdbcType=VARCHAR},
			#{item.skuPicurl,jdbcType=VARCHAR},
			#{item.skuAdv,jdbcType=VARCHAR},
			#{item.sellerCode,jdbcType=VARCHAR},
			#{item.sellPrice,jdbcType=DECIMAL},
			#{item.marketPrice,jdbcType=DECIMAL},
			#{item.costPrice,jdbcType=DECIMAL},
			#{item.securityStockNum,jdbcType=DECIMAL},
			#{item.stockNum,jdbcType=DECIMAL},
			#{item.qrcodeLink,jdbcType=VARCHAR},
			#{item.miniOrder,jdbcType=INTEGER}
			)
		</foreach>
	</insert>
	<update id="updateSkuInfoBySkuCodeOld" parameterType="com.hjy.entity.product.PcSkuinfo">
		UPDATE productcenter.pc_skuinfo
		<set>
			sku_name=#{skuName,jdbcType=VARCHAR},
			sku_picurl=#{skuPicurl,jdbcType=VARCHAR},
			sku_adv=#{skuAdv,jdbcType=VARCHAR},
			sell_price=#{sellPrice,jdbcType=DECIMAL},
			market_price=#{marketPrice,jdbcType=DECIMAL},
			cost_price=#{costPrice,jdbcType=DECIMAL},
			security_stock_num=#{securityStockNum,jdbcType=DECIMAL},
			stock_num=#{stockNum,jdbcType=DECIMAL},
			qrcode_link=#{qrcodeLink,jdbcType=VARCHAR},
			mini_order=#{miniOrder,jdbcType=INTEGER}
		</set>
		<where>
			sku_code_old = #{skuCodeOld,jdbcType=VARCHAR}
		</where>
	</update>
</mapper>