<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjy.dao.api.IApiSkuInfoDao">
	<resultMap id="BaseResultMap" type="com.hjy.entity.product.PcSkuinfo">
		<id column="zid" jdbcType="INTEGER" property="zid" />
		<result column="uid" jdbcType="CHAR" property="uid" />
		<result column="sku_code_old" jdbcType="VARCHAR" property="skuCodeOld" />
		<result column="sku_code" jdbcType="VARCHAR" property="skuCode" />
		<result column="product_code" jdbcType="VARCHAR" property="productCode" />
		<result column="sell_price" jdbcType="DECIMAL" property="sellPrice" />
		<result column="market_price" jdbcType="DECIMAL" property="marketPrice" />
		<result column="cost_price" jdbcType="DECIMAL" property="costPrice" />
		<result column="stock_num" jdbcType="DECIMAL" property="stockNum" />
		<result column="sku_key" jdbcType="VARCHAR" property="skuKey" />
		<result column="sku_keyvalue" jdbcType="VARCHAR" property="skuKeyvalue" />
		<result column="sku_picurl" jdbcType="VARCHAR" property="skuPicurl" />
		<result column="sell_productcode" jdbcType="VARCHAR" property="sellProductcode" />
		<result column="seller_code" jdbcType="VARCHAR" property="sellerCode" />
		<result column="security_stock_num" jdbcType="DECIMAL"
			property="securityStockNum" />
		<result column="product_code_old" jdbcType="VARCHAR" property="productCodeOld" />
		<result column="qrcode_link" jdbcType="VARCHAR" property="qrcodeLink" />
		<result column="sell_count" jdbcType="INTEGER" property="sellCount" />
		<result column="sale_yn" jdbcType="VARCHAR" property="saleYn" />
		<result column="flag_enable" jdbcType="INTEGER" property="flagEnable" />
		<result column="barcode" jdbcType="VARCHAR" property="barcode" />
		<result column="mini_order" jdbcType="INTEGER" property="miniOrder" />
		<result column="sku_name" jdbcType="LONGVARCHAR" property="skuName" />
		<result column="sku_adv" jdbcType="LONGVARCHAR" property="skuAdv" />
	</resultMap>
	<sql id="Base_Column_List">
		zid, uid, sku_code_old, sku_code, product_code, sell_price,
		market_price,
		cost_price,
		stock_num, sku_key, sku_keyvalue, sku_picurl,
		sell_productcode, seller_code,
		security_stock_num,
		product_code_old,
		qrcode_link, sell_count, sale_yn, flag_enable, barcode,
		mini_order,sku_name,sku_adv
	</sql>
	<insert id="batchInsert" parameterType="list">
		INSERT INTO productcenter.pc_skuinfo (
		uid,
		product_code,
		product_code_old,
		sell_productcode,
		sku_code,
		sku_code_old,
		sku_name,
		sku_picurl,
		sku_adv,
		seller_code,
		sell_price,
		market_price,
		cost_price,
		security_stock_num,
		stock_num,
		qrcode_link,
		mini_order
		)
		VALUES
		<foreach item="item" index="index" collection="list"
			separator=",">
			(
			#{item.uid,jdbcType=VARCHAR},
			#{item.productCode,jdbcType=VARCHAR},
			#{item.productCodeOld,jdbcType=VARCHAR},
			#{item.sellProductcode,jdbcType=VARCHAR},
			#{item.skuCode,jdbcType=VARCHAR},
			#{item.skuCodeOld,jdbcType=VARCHAR},
			#{item.skuName,jdbcType=VARCHAR},
			#{item.skuPicurl,jdbcType=VARCHAR},
			#{item.skuAdv,jdbcType=VARCHAR},
			#{item.sellerCode,jdbcType=VARCHAR},
			#{item.sellPrice,jdbcType=DECIMAL},
			#{item.marketPrice,jdbcType=DECIMAL},
			#{item.costPrice,jdbcType=DECIMAL},
			#{item.securityStockNum,jdbcType=DECIMAL},
			#{item.stockNum,jdbcType=DECIMAL},
			#{item.qrcodeLink,jdbcType=VARCHAR},
			#{item.miniOrder,jdbcType=INTEGER}
			)
		</foreach>
	</insert>
	<update id="updateSkuInfoBySkuCodeOld" parameterType="com.hjy.entity.product.PcSkuinfo">
		UPDATE productcenter.pc_skuinfo
		<set>
			<if test="skuName != null and skuName != '' ">
				sku_name=#{skuName,jdbcType=VARCHAR},
			</if>
			<if test="skuPicurl != null and skuPicurl != '' ">
				sku_picurl=#{skuPicurl,jdbcType=VARCHAR},
			</if>
			<if test="skuAdv != null and skuAdv != '' ">
				sku_adv=#{skuAdv,jdbcType=VARCHAR},
			</if>
			<if test="sellPrice != null">
				sell_price=#{sellPrice,jdbcType=DECIMAL},
			</if>
			<if test="marketPrice != null">
				market_price=#{marketPrice,jdbcType=DECIMAL},
			</if>
			<if test="costPrice != null">
				cost_price=#{costPrice,jdbcType=DECIMAL},
			</if>
			<if test="securityStockNum != null">
				security_stock_num=#{securityStockNum,jdbcType=DECIMAL},
			</if>
			<if test="stockNum != null">
				stock_num=#{stockNum,jdbcType=DECIMAL},
			</if>
			<if test="qrcodeLink != null and qrcodeLink != '' ">
				qrcode_link=#{qrcodeLink,jdbcType=VARCHAR},
			</if>
			mini_order=#{miniOrder,jdbcType=INTEGER}
		</set>
		<where>
			sku_code_old = #{skuCodeOld,jdbcType=VARCHAR}
		</where>
	</update>
	<!-- 修改价格 -->
	<update id="updateSkuPrice" parameterType="com.hjy.entity.product.PcSkuinfo">
		UPDATE productcenter.pc_skuinfo
		<set>
			sell_price=#{sellPrice,jdbcType=DECIMAL},
			market_price=#{marketPrice,jdbcType=DECIMAL},
			cost_price=#{costPrice,jdbcType=DECIMAL},
		</set>
		<where>
			sku_code_old = #{skuCodeOld,jdbcType=VARCHAR}
		</where>
	</update>
	<!-- 根据外部商品编号查询商品sku列表 2016-08-04 zhy -->
	<select id="findSkuInfoListByProductCodeOld" parameterType="list"
		resultType="com.hjy.entity.product.PcSkuinfo">
		select sku_code AS skuCode,stock_num AS stockNum from
		productcenter.pc_skuinfo
		<where>
			product_code_old in
			<foreach open="(" close=")" item="item" index="index"
				collection="list" separator=",">
				#{item}
			</foreach>
		</where>
	</select>
	<!-- 修改sku库存 -->
	<update id="updateSkuStore" parameterType="com.hjy.entity.product.PcSkuinfo">
		UPDATE productcenter.pc_skuinfo
		<set>
			stock_num=#{stockNum,jdbcType=DECIMAL}
		</set>
		<where>
			sku_code_old = #{skuCodeOld,jdbcType=VARCHAR}
		</where>
	</update>
	<!-- 根据商品编号查询sku集合 2016-08-25 zhy -->
	<select id="findSkuByProductCode" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		SELECT
		sku.sku_code,
		sku.sku_name,
		sku.sell_price,
		IFNULL(stock.stock_num,0) AS stock_num,
		sku.sku_picurl,
		sku.sku_adv,
		sku.mini_order
		FROM
		productcenter.pc_skuinfo AS sku
		LEFT JOIN systemcenter.sc_store_skunum AS stock ON sku.sku_code =
		stock.sku_code
		where sku.product_code =
		#{productCode,jdbcType=VARCHAR}
	</select>
</mapper>