<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.se.dao.lesson.TLessonEvaluateDao">
	<resultMap id="BaseResultMap" type="com.se.model.lesson.TLessonEvaluate">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="uuid" property="uuid" jdbcType="VARCHAR" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="student_code" property="studentCode" jdbcType="VARCHAR" />
		<result column="lesson_code" property="lessonCode" jdbcType="VARCHAR" />
		<result column="score" property="score" jdbcType="INTEGER" />
		<result column="create_user" property="createUser" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR" />
		<result column="update_user" property="updateUser" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="LONGVARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, uuid, code, student_code, lesson_code, score, content,
		create_user,
		DATE_FORMAT(
		create_time,
		'%Y-%m-%d %H:%i:%s'
		) AS
		create_time,
		update_user,
		DATE_FORMAT(
		update_time,
		'%Y-%m-%d %H:%i:%s'
		)
		AS
		update_time
	</sql>
	<select id="selectByCode" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from t_lesson_evaluate
		where `code` = #{code,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByCode" parameterType="java.lang.String">
		delete from
		t_lesson_evaluate
		where `code` = #{code,jdbcType=VARCHAR}
	</delete>
	<insert id="insertSelective" parameterType="com.se.model.lesson.TLessonEvaluate">
		insert into t_lesson_evaluate
		<trim prefix="(" suffix=")" suffixOverrides=",">
			uuid,
			code,
			student_code,
			lesson_code,
			score,
			create_user,
			create_time,
			update_user,
			update_time,
			content,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{uuid,jdbcType=VARCHAR},
			#{code,jdbcType=VARCHAR},
			#{studentCode,jdbcType=VARCHAR},
			#{lessonCode,jdbcType=VARCHAR},
			#{score,jdbcType=INTEGER},
			#{createUser,jdbcType=VARCHAR},
			STR_TO_DATE(
			#{createTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s'),
			#{updateUser,jdbcType=VARCHAR},
			STR_TO_DATE(
			#{updateTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s')
			#{content,jdbcType=LONGVARCHAR},
		</trim>
	</insert>
	<update id="updateByCode" parameterType="com.se.model.lesson.TLessonEvaluate">
		update t_lesson_evaluate
		<set>
			<if test="studentCode != null">
				student_code = #{studentCode,jdbcType=VARCHAR},
			</if>
			<if test="lessonCode != null">
				lesson_code = #{lessonCode,jdbcType=VARCHAR},
			</if>
			<if test="score != null">
				score = #{score,jdbcType=INTEGER},
			</if>
			update_user =
			#{updateUser,jdbcType=VARCHAR},
			update_time =
			STR_TO_DATE(#{updateTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s'),
			<if test="content != null">
				content = #{content,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where `code` = #{code,jdbcType=VARCHAR}
	</update>
</mapper>