<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjy.dao.IOcOrderKjtDetailDao">
	<select id="findOrderDetailByCodeSeq" parameterType="java.lang.String">
		SELECT
			zid,
			uid,
			order_code_seq,
			product_code,
			sku_code,
			sku_name,
			sku_price,
			sku_num,
			product_code_out,
			order_code
		FROM
			ordercenter.oc_order_kjt_detail
		<where>
			order_code_seq = #{orderCodeSeq,jdbcType=VARCHAR}
		</where>
	</select>
	
	<insert id="insertSelective" parameterType="com.hjy.entity.OcOrderKjtDetail">
		insert into ordercenter.oc_order_kjt_detail
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="zid != null">
				zid,
			</if>
			<if test="uid != null">
				uid,
			</if>
			<if test="orderCodeSeq != null">
				order_code_seq,
			</if>
			<if test="productCode != null">
				product_code,
			</if>
			<if test="skuCode != null">
				sku_code,
			</if>
			<if test="skuName != null">
				sku_name,
			</if>
			<if test="skuPrice != null">
				sku_price,
			</if>
			<if test="skuNum != null">
				sku_num,
			</if>
			<if test="productCodeOut != null">
				product_code_out,
			</if>
			<if test="orderCode != null">
				order_code,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="zid != null">
				#{zid,jdbcType=INTEGER},
			</if>
			<if test="uid != null">
				#{uid,jdbcType=CHAR},
			</if>
			<if test="orderCodeSeq != null">
				#{orderCodeSeq,jdbcType=VARCHAR},
			</if>
			<if test="productCode != null">
				#{productCode,jdbcType=VARCHAR},
			</if>
			<if test="skuCode != null">
				#{skuCode,jdbcType=VARCHAR},
			</if>
			<if test="skuName != null">
				#{skuName,jdbcType=VARCHAR},
			</if>
			<if test="skuPrice != null">
				#{skuPrice,jdbcType=DECIMAL},
			</if>
			<if test="skuNum != null">
				#{skuNum,jdbcType=INTEGER},
			</if>
			<if test="productCodeOut != null">
				#{productCodeOut,jdbcType=VARCHAR},
			</if>
			<if test="orderCode != null">
				#{orderCode,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
</mapper>



















