<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjy.dao.IOcOrderKjtListDataDao">
	
	<resultMap id="BaseResultMap" type="com.hjy.entity.OcOrderKjtListData">
		<id column="zid" property="zid" jdbcType="INTEGER" />
		<result column="uid" property="uid" jdbcType="CHAR" />
		<result column="order_code_seq" property="orderCodeSeq" jdbcType="VARCHAR" />
		<result column="request_clazz" property="requestClazz" jdbcType="LONGVARCHAR" />
	</resultMap>
	
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select  * from ordercenter.oc_order_kjt_list_data
		where 
			zid = #{zid,jdbcType=INTEGER}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from ordercenter.oc_order_kjt_list_data
		where zid = #{zid,jdbcType=INTEGER}
	</delete>
	
	<insert id="insertSelective" parameterType="com.hjy.entity.OcOrderKjtListData">
		insert into ordercenter.oc_order_kjt_list_data
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="zid != null">
				zid,
			</if>
			<if test="uid != null">
				uid,
			</if>
			<if test="orderCodeSeq != null">
				order_code_seq,
			</if>
			<if test="requestClazz != null">
				request_clazz,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="zid != null">
				#{zid,jdbcType=INTEGER},
			</if>
			<if test="uid != null">
				#{uid,jdbcType=CHAR},
			</if>
			<if test="orderCodeSeq != null">
				#{orderCodeSeq,jdbcType=VARCHAR},
			</if>
			<if test="requestClazz != null">
				#{requestClazz,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	
	<update id="updateSelective" parameterType="com.hjy.entity.OcOrderKjtListData">
		update ordercenter.oc_order_kjt_list_data
		<set>
			<if test="uid != null">
				uid = #{uid,jdbcType=CHAR},
			</if>
			<if test="orderCodeSeq != null">
				order_code_seq = #{orderCodeSeq,jdbcType=VARCHAR},
			</if>
			<if test="requestClazz != null">
				request_clazz = #{requestClazz,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where zid = #{zid,jdbcType=INTEGER}
	</update>
	
	<select id="findByType" resultMap="BaseResultMap" parameterType="com.hjy.entity.OcOrderKjtListData">
		select  * from ordercenter.oc_order_kjt_list_data
		where 1=1
			<if test="orderCodeSeq != null">
				and order_code_seq = #{orderCodeSeq , jdbcType=VARCHAR}
			</if>
	</select>
</mapper>




















