<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjy.dao.IOcOrderKjtListDao">

	<resultMap type="com.hjy.entity.OcOrderKjtList" id="BaseResultMap">
		<id column="zid" jdbcType="INTEGER" property="zid" />
		<result column="uid" jdbcType="CHAR" property="uid" />
		<result column="order_code_seq" jdbcType="VARCHAR" property="orderCodeSeq" />
		<result column="order_code" jdbcType="VARCHAR" property="orderCode" />
		<result column="order_code_out" jdbcType="VARCHAR" property="orderCodeOut" />
		<result column="product_amount" jdbcType="DECIMAL" property="productAmount" />
		<result column="tax_amount" jdbcType="DECIMAL" property="taxAmount" />
		<result column="shipping_amount" jdbcType="DECIMAL" property="shippingAmount" />
		<result column="create_time" jdbcType="VARCHAR" property="createTime" />
		<result column="update_time" jdbcType="VARCHAR" property="updateTime" />
		<result column="sostatus" jdbcType="VARCHAR" property="sostatus" />
		<result column="local_status" jdbcType="VARCHAR" property="localStatus" />
		<result column="rsync_desc" jdbcType="VARCHAR" property="rsyncDesc" />
	</resultMap>
	<!-- 查询订单列表 2016-06-28 zhy -->
	<select id="findOrderListByStatus" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		SELECT
		zid,
		uid,
		order_code_seq,
		order_code,
		order_code_out,
		product_amount,
		tax_amount,
		shipping_amount,
		create_time,
		update_time,
		sostatus,
		local_status,
		rsync_desc
		FROM
		ordercenter.oc_order_kjt_list
		<where>
			sostatus in (${value}) 
			<![CDATA[ AND order_code_out<>'' ]]>
		</where>
	</select>
	<!-- 根据外部订单号查询订单信息 2016-06-28 zhy -->
	<select id="findOrderByOutCode" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select order_code_seq, order_code, order_code_out,sostatus from
		ordercenter.oc_order_kjt_list
		<where>
			order_code_out = #{orderCodeOut,jdbcType=VARCHAR}
		</where>
	</select>

	<insert id="insertSelective" parameterType="com.hjy.entity.OcOrderKjtList">
		insert into ordercenter.oc_order_kjt_list
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="zid != null">
				zid,
			</if>
			<if test="uid != null">
				uid,
			</if>
			<if test="orderCodeSeq != null">
				order_code_seq,
			</if>
			<if test="orderCode != null">
				order_code,
			</if>
			<if test="orderCodeOut != null">
				order_code_out,
			</if>
			<if test="productAmount != null">
				product_amount,
			</if>
			<if test="taxAmount != null">
				tax_amount,
			</if>
			<if test="shippingAmount != null">
				shipping_amount,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="sostatus != null">
				sostatus,
			</if>
			<if test="localStatus != null">
				local_status,
			</if>
			<if test="rsyncDesc != null">
				rsync_desc,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="zid != null">
				#{zid,jdbcType=INTEGER},
			</if>
			<if test="uid != null">
				#{uid,jdbcType=CHAR},
			</if>
			<if test="orderCodeSeq != null">
				#{orderCodeSeq,jdbcType=VARCHAR},
			</if>
			<if test="orderCode != null">
				#{orderCode,jdbcType=VARCHAR},
			</if>
			<if test="orderCodeOut != null">
				#{orderCodeOut,jdbcType=VARCHAR},
			</if>
			<if test="productAmount != null">
				#{productAmount,jdbcType=DECIMAL},
			</if>
			<if test="taxAmount != null">
				#{taxAmount,jdbcType=DECIMAL},
			</if>
			<if test="shippingAmount != null">
				#{shippingAmount,jdbcType=DECIMAL},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=CHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=CHAR},
			</if>
			<if test="sostatus != null">
				#{sostatus,jdbcType=VARCHAR},
			</if>
			<if test="localStatus != null">
				#{localStatus,jdbcType=VARCHAR},
			</if>
			<if test="rsyncDesc != null">
				#{rsyncDesc,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<!-- 根据订单编号更新订单 2016-06-28 zhy -->
	<update id="updateSelective" parameterType="com.hjy.entity.OcOrderKjtList">
		UPDATE ordercenter.oc_order_kjt_list
		<set>
			<if test="orderCodeSeq != null and orderCodeSeq != ''">
				order_code_seq = #{orderCodeSeq,jdbcType=VARCHAR},
			</if>
			<if test="orderCodeOut != null and orderCodeOut != ''">
				order_code_out = #{orderCodeOut,jdbcType=VARCHAR},
			</if>
			<if test="productAmount != null">
				product_amount = #{productAmount,jdbcType=DECIMAL},
			</if>
			<if test="taxAmount != null">
				tax_amount = #{taxAmount,jdbcType=DECIMAL},
			</if>
			<if test="shippingAmount != null">
				shipping_amount = #{shippingAmount,jdbcType=DECIMAL},
			</if>
			<if test="updateTime != null and updateTime != ''">
				update_time = #{updateTime,jdbcType=VARCHAR},
			</if>
			<if test="sostatus != null and sostatus != ''">
				sostatus = #{sostatus,jdbcType=VARCHAR},
			</if>
			<if test="localStatus != null and localStatus != ''">
				local_status = #{localStatus,jdbcType=VARCHAR},
			</if>
			<if test="rsyncDesc != null and rsyncDesc != ''">
				rsync_desc = #{rsyncDesc,jdbcType=VARCHAR},
			</if>
		</set>
		<where>
			order_code = #{orderCode,jdbcType=VARCHAR}
		</where>
	</update>
	<!-- 根据订单编号更新订单 2016-06-28 zhy -->
	<update id="updateSelectiveByCodeOut" parameterType="com.hjy.entity.OcOrderKjtList">
		UPDATE ordercenter.oc_order_kjt_list
		<set>
			<if test="orderCodeSeq != null and orderCodeSeq != ''">
				order_code_seq = #{orderCodeSeq,jdbcType=VARCHAR},
			</if>
			<if test="productAmount != null">
				product_amount = #{productAmount,jdbcType=DECIMAL},
			</if>
			<if test="taxAmount != null">
				tax_amount = #{taxAmount,jdbcType=DECIMAL},
			</if>
			<if test="shippingAmount != null">
				shipping_amount = #{shippingAmount,jdbcType=DECIMAL},
			</if>
			<if test="updateTime != null and updateTime != ''">
				update_time = #{updateTime,jdbcType=VARCHAR},
			</if>
			<if test="sostatus != null and sostatus != ''">
				sostatus = #{sostatus,jdbcType=VARCHAR},
			</if>
			<if test="localStatus != null and localStatus != ''">
				local_status = #{localStatus,jdbcType=VARCHAR},
			</if>
			<if test="rsyncDesc != null and rsyncDesc != ''">
				rsync_desc = #{rsyncDesc,jdbcType=VARCHAR},
			</if>
		</set>
		<where>
			order_code_out = #{orderCodeOut,jdbcType=VARCHAR}
		</where>
	</update>
	<!-- 根据订单编号查询本地订单状态 2016-06-30 zhy -->
	<select id="findLocalStatusByOrderCode" parameterType="java.lang.String"
		resultType="java.lang.String">
		SELECT
		local_status
		FROM
		ordercenter.oc_order_kjt_list
		<where>
			order_code = #{orderCodeOut,jdbcType=VARCHAR}
		</where>
		GROUP BY local_status
	</select>

	<select id="findListByOrderCode" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select * from ordercenter.oc_order_kjt_list where order_code
		= #{orderCode,jdbcType=VARCHAR}
	</select>

	<!-- 根据序列订单号修改订单信息 2016-07-02 zhy -->
	<update id="updateCodeByCodeSeq" parameterType="com.hjy.entity.OcOrderKjtList">
		UPDATE ordercenter.oc_order_kjt_list
		<set>
			<if test="orderCodeSeq != null and orderCodeSeq != ''">
				order_code_seq = #{orderCodeSeq,jdbcType=VARCHAR},
			</if>
			<if test="orderCode!=null and orderCode != ''">
				order_code = #{orderCode,jdbcType=VARCHAR},
			</if>
			<if test="orderCodeOut != null and orderCodeOut != ''">
				order_code_out = #{orderCodeOut,jdbcType=VARCHAR},
			</if>
			<if test="productAmount != null">
				product_amount = #{productAmount,jdbcType=DECIMAL},
			</if>
			<if test="taxAmount != null">
				tax_amount = #{taxAmount,jdbcType=DECIMAL},
			</if>
			<if test="shippingAmount != null">
				shipping_amount = #{shippingAmount,jdbcType=DECIMAL},
			</if>
			<if test="updateTime != null and updateTime != ''">
				update_time = #{updateTime,jdbcType=VARCHAR},
			</if>
			<if test="sostatus != null and sostatus != ''">
				sostatus = #{sostatus,jdbcType=VARCHAR},
			</if>
			<if test="localStatus != null and localStatus != ''">
				local_status = #{localStatus,jdbcType=VARCHAR},
			</if>
			<if test="rsyncDesc != null and rsyncDesc != ''">
				rsync_desc = #{rsyncDesc,jdbcType=VARCHAR},
			</if>
		</set>
		<where>
			order_code_seq = #{orderCodeSeq,jdbcType=VARCHAR}
		</where>
	</update>

	<!-- 根据序列订单号查询订单信息 2016-07-03 zhy -->
	<select id="findOrderListByCodeSeq" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		SELECT
		zid,
		uid,
		order_code_seq,
		order_code,
		order_code_out,
		product_amount,
		tax_amount,
		shipping_amount,
		create_time,
		update_time,
		sostatus,
		local_status,
		rsync_desc
		FROM
		ordercenter.oc_order_kjt_list
		<where>
			order_code_seq = #{orderCodeSeq,jdbcType=VARCHAR}
		</where>
	</select>
</mapper>