<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjy.dao.ISystemDao">
     <parameterMap type="java.util.Map" id="lockParam">
         <parameter property="somekey" mode="IN" jdbcType="INTEGER"/>
         <parameter property="timeoutsecond" mode="IN" jdbcType="INTEGER"/>
         <parameter property="timeoutsecond" mode="IN" jdbcType="INTEGER"/>
         <parameter property="timeoutsecond" mode="IN" jdbcType="INTEGER"/>
         <parameter property="timeoutsecond" mode="OUT" jdbcType="INTEGER"/>
     </parameterMap>
	<select id="addLock" parameterMap="lockParam" statementType="CALLABLE">
		CALL webcore.proc_lock_or_unlock_somekey(?,?,?,?,?)
	</select>
</mapper>