<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjy.dao.ISysWebcodeDao">


	<parameterMap id="uniqueParam" type="java.util.Map">
		<parameter property="code" mode="IN" jdbcType="VARCHAR" />
	</parameterMap>
	<select id="callUniqueCode" parameterMap="uniqueParam" statementType="CALLABLE" resultType="String">
		call webcore.proc_get_unique_code(?)
	</select>
</mapper>





