<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjy.dao.member.IMcLoginInfoDao">
	<resultMap id="BaseResultMap" type="com.hjy.entity.member.McLoginInfo">
		<id column="zid" jdbcType="INTEGER" property="zid" />
		<result column="uid" jdbcType="CHAR" property="uid" />
		<result column="login_code" jdbcType="VARCHAR" property="loginCode" />
		<result column="manage_code" jdbcType="VARCHAR" property="manageCode" />
		<result column="login_name" jdbcType="VARCHAR" property="loginName" />
		<result column="login_pass" jdbcType="VARCHAR" property="loginPass" />
		<result column="member_code" jdbcType="VARCHAR" property="memberCode" />
		<result column="create_time" jdbcType="CHAR" property="createTime" />
		<result column="failed_time" jdbcType="CHAR" property="failedTime" />
		<result column="failed_count" jdbcType="INTEGER" property="failedCount" />
		<result column="flag_enable" jdbcType="INTEGER" property="flagEnable" />
		<result column="last_time" jdbcType="CHAR" property="lastTime" />
		<result column="login_type" jdbcType="VARCHAR" property="loginType" />
		<result column="login_group" jdbcType="VARCHAR" property="loginGroup" />
		<result column="if_delete" jdbcType="VARCHAR" property="ifDelete" />
	</resultMap>
	<!-- 根据用户编号查询登陆信息 2016-06-30 zhy -->
	<select id="findLoginInfoByMemberCode" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		SELECT
			zid,
			uid,
			login_code,
			manage_code,
			login_name,
			login_pass,
			member_code,
			create_time,
			failed_time,
			failed_count,
			flag_enable,
			last_time,
			login_type,
			login_group,
			if_delete
		FROM
			membercenter.mc_login_info
		<where>
			member_code = #{memberCode,jdbcType=VARCHAR}
		</where>
	</select>
</mapper>